In [88]:
import keyring
import requests
import json
import pandas as pd

In [101]:
keyring.set_password('real_app_key', 'kannie', 'PSnvAltwjE5ZrOaITkVgetxCutSSexVH4qEw')
keyring.set_password('real_app_secrect', 'kannie', 'LLhGO6tUDaepjBRFtocxjcYPZbkLfR5mKRFJrPccIkOBVfLsUhkVMFNWy7h7bWAD4CSq3nPowAYX/MMocSI9MAXrbNximason8X8V44iWkrrH/+IJT7E8CAN6fiCQwcnuHLZi/ryI/AzgHLHxwf56cCj/jEMtjrvxf6aITV5WrzSSmYLNOg=')

keyring.set_password('mock_app_key', 'kannie', 'PSnwe2lboWhKABz4afYQUf5Cnm0x6IlBxt6F')
keyring.set_password('mock_app_secret', 'kannie', 'zFilo09//IcL6SKcVd+VHCxiGuhmVhu+llV1emGjL+J202Y9w1hxyFszqhvzBXjcM34t3QTULxOxM5heeVPCJJQSTSaiZEYMHXyddWCaLVwZiT93dpzgwfnOC0Stc1pmvlxbBAzux5ASV+hZuiYAZ6KTYKxexelADUlR3mIBDbeNfBkNuiw=')

app_key = keyring.get_password('mock_app_key', 'kannie')
app_secret = keyring.get_password('mock_app_secret','kannie')

url_base = "https://openapivts.koreainvestment.com:29443" #모의투자
#url_base = "https://openapivts.koreainvestment.com:9443" #실전투자
 
headers ={"content-type":"application/json"}
path = "oauth2/tokenP"
body = {
    "grant_type": "client_credentials",
    "appkey": app_key,
    "appsecret": app_secret,
}

url = f"{url_base}/{path}"

#access token 발급
res = requests.post(url, headers=headers, data=json.dumps(body))
access_token=res.json()['access_token']

In [98]:
access_token=res.json()['access_token']

In [100]:
type(access_token)

str

In [50]:
def hashkey(datas):
    path="uapi/hashkey"
    url = f"{url_base}/{path}"
    headers = {
        'content-Type': 'application/json',
        'appKey': app_key,
        'appSecret': app_secret,
    }
    res = requests.post(url, headers=headers, data=json.dumps(datas))
    hashkey = res.json()["HASH"]
    return hashkey

In [59]:
#현재가 조회
path = "uapi/domestic-stock/v1/quotations/inquire-price"
url = f"{url_base}/{path}"

headers = {
    "Content-Type": "application/json",
    "authorization": f"Bearer {access_token}",
    "appKey": app_key,
    "appSecret": app_secret,
    "tr_id": "FHKST01010100"
}

params = {"fid_cond_mrkt_div_code": "J", "fid_input_iscd": "035420"} #005930 삼성전자. 035420 네이버

res = requests.get(url, headers=headers, params=params)
res.json()['output']['stck_prpr']

'205000'

In [60]:
ap1=pd.DataFrame.from_records(res.json()['output']['stck_prpr'])
ap1

   0
0  2
1  0
2  5
3  0
4  0
5  0

In [53]:
res.json()

{'output': {'iscd_stat_cls_code': '55',
  'marg_rate': '40.00',
  'rprs_mrkt_kor_name': 'KOSPI200',
  'bstp_kor_isnm': '서비스업',
  'temp_stop_yn': 'N',
  'oprc_rang_cont_yn': 'N',
  'clpr_rang_cont_yn': 'N',
  'crdt_able_yn': 'Y',
  'grmn_rate_cls_code': '40',
  'elw_pblc_yn': 'Y',
  'stck_prpr': '205000',
  'prdy_vrss': '1500',
  'prdy_vrss_sign': '2',
  'prdy_ctrt': '0.74',
  'acml_tr_pbmn': '205911570624',
  'acml_vol': '999143',
  'prdy_vrss_vol_rate': '105.66',
  'stck_oprc': '205500',
  'stck_hgpr': '209000',
  'stck_lwpr': '204000',
  'stck_mxpr': '264500',
  'stck_llam': '142500',
  'stck_sdpr': '203500',
  'wghn_avrg_stck_prc': '206119.15',
  'hts_frgn_ehrt': '47.96',
  'frgn_ntby_qty': '1248',
  'pgtr_ntby_qty': '-10307',
  'pvt_scnd_dmrs_prc': '211500',
  'pvt_frst_dmrs_prc': '207500',
  'pvt_pont_val': '205500',
  'pvt_frst_dmsp_prc': '201500',
  'pvt_scnd_dmsp_prc': '199500',
  'dmrs_val': '206500',
  'dmsp_val': '200500',
  'cpfn': '165',
  'rstc_wdth_prc': '61000',
  'stck_fcam': '100',
  'stck_sspr': '158730',
  'aspr_unit': '500',
  'hts_deal_qty_unit_val': '1',
  'lstn_stcn': '162408594',
  'hts_avls': '332938',
  'per': '44.24',
  'pbr': '1.42',
  'stac_month': '12',
  'vol_tnrt': '0.62',
  'eps': '4634.00',
  'bps': '144841.00',
  'd250_hgpr': '241500',
  'd250_hgpr_date': '20230807',
  'd250_hgpr_vrss_prpr_rate': '-15.11',
  'd250_lwpr': '178000',
  'd250_lwpr_date': '20231020',
  'd250_lwpr_vrss_prpr_rate': '15.17',
  'stck_dryy_hgpr': '235500',
  'dryy_hgpr_vrss_prpr_rate': '-12.95',
  'dryy_hgpr_date': '20240116',
  'stck_dryy_lwpr': '198600',
  'dryy_lwpr_vrss_prpr_rate': '3.22',
  'dryy_lwpr_date': '20240201',
  'w52_hgpr': '241500',
  'w52_hgpr_vrss_prpr_ctrt': '-15.11',
  'w52_hgpr_date': '20230807',
  'w52_lwpr': '178000',
  'w52_lwpr_vrss_prpr_ctrt': '15.17',
  'w52_lwpr_date': '20231020',
  'whol_loan_rmnd_rate': '0.54',
  'ssts_yn': 'N',
  'stck_shrn_iscd': '035420',
  'fcam_cnnm': '100',
  'cpfn_cnnm': '164 억',
  'frgn_hldn_qty': '77894099',
  'vi_cls_code': 'N',
  'ovtm_vi_cls_code': 'N',
  'last_ssts_cntg_qty': '2522',
  'invt_caful_yn': 'N',
  'mrkt_warn_cls_code': '00',
  'short_over_yn': 'N',
  'sltr_yn': 'N'},
 'rt_cd': '0',
 'msg_cd': 'MCA00000',
 'msg1': '정상처리 되었습니다.'}

In [102]:
path = "/uapi/domestic-stock/v1/trading/inquire-balance"
url = f"{url_base}/{path}"

headers = {
    "Content-Type": "application/json",
    "authorization": f"Bearer {access_token}",
    "appKey": app_key,
    "appSecret": app_secret,
    "tr_id": "VTTC8434R"
}

params = {
    "CANO": "50102070",  # 계좌번호 앞 8지리
    "ACNT_PRDT_CD": "01",  # 계좌번호 뒤 2자리
    "AFHR_FLPR_YN": "N",  # 시간외단일가여부
    "OFL_YN": "",  # 공란
    "INQR_DVSN": "01",  # 조회구분
    "UNPR_DVSN": "01",  # 단가구분
    "FUND_STTL_ICLD_YN": "N",  # 펀드결제분포함여부
    "FNCG_AMT_AUTO_RDPT_YN": "N",  # 융자금액자동상환여부        
    "PRCS_DVSN": "00",  # 처리구분(00: 전일매매포함)
    "CTX_AREA_FK100": "",  # 연속조회검색조건
    "CTX_AREA_NK100": ""  # 연속조회키
}

res = requests.get(url, headers=headers, params=params) #계좌잔고
res.json()['output2']

[{'dnca_tot_amt': '10000000',
  'nxdy_excc_amt': '10000000',
  'prvs_rcdl_excc_amt': '10000000',
  'cma_evlu_amt': '0',
  'bfdy_buy_amt': '0',
  'thdt_buy_amt': '0',
  'nxdy_auto_rdpt_amt': '0',
  'bfdy_sll_amt': '0',
  'thdt_sll_amt': '0',
  'd2_auto_rdpt_amt': '0',
  'bfdy_tlex_amt': '0',
  'thdt_tlex_amt': '0',
  'tot_loan_amt': '0',
  'scts_evlu_amt': '0',
  'tot_evlu_amt': '10000000',
  'nass_amt': '10000000',
  'fncg_gld_auto_rdpt_yn': '',
  'pchs_amt_smtl_amt': '0',
  'evlu_amt_smtl_amt': '0',
  'evlu_pfls_smtl_amt': '0',
  'tot_stln_slng_chgs': '0',
  'bfdy_tot_asst_evlu_amt': '10000000',
  'asst_icdc_amt': '0',
  'asst_icdc_erng_rt': '0.00000000'}]

In [56]:
res.json()

{'ctx_area_fk100': '                                                                                                    ',
 'ctx_area_nk100': '                                                                                                    ',
 'output1': [],
 'output2': [{'dnca_tot_amt': '10000000',
   'nxdy_excc_amt': '10000000',
   'prvs_rcdl_excc_amt': '10000000',
   'cma_evlu_amt': '0',
   'bfdy_buy_amt': '0',
   'thdt_buy_amt': '0',
   'nxdy_auto_rdpt_amt': '0',
   'bfdy_sll_amt': '0',
   'thdt_sll_amt': '0',
   'd2_auto_rdpt_amt': '0',
   'bfdy_tlex_amt': '0',
   'thdt_tlex_amt': '0',
   'tot_loan_amt': '0',
   'scts_evlu_amt': '0',
   'tot_evlu_amt': '10000000',
   'nass_amt': '10000000',
   'fncg_gld_auto_rdpt_yn': '',
   'pchs_amt_smtl_amt': '0',
   'evlu_amt_smtl_amt': '0',
   'evlu_pfls_smtl_amt': '0',
   'tot_stln_slng_chgs': '0',
   'bfdy_tot_asst_evlu_amt': '10000000',
   'asst_icdc_amt': '0',
   'asst_icdc_erng_rt': '0.00000000'}],
 'rt_cd': '0',
 'msg_cd': '20310000',
 'msg1': '모의투자 조회가 완료되었습니다.                                                 '}

In [57]:

ap=pd.DataFrame.from_records(res.json()['output2'])
ap

,dnca_tot_amt,nxdy_excc_amt,prvs_rcdl_excc_amt,cma_evlu_amt,bfdy_buy_amt,thdt_buy_amt,nxdy_auto_rdpt_amt,bfdy_sll_amt,thdt_sll_amt,d2_auto_rdpt_amt,...,tot_evlu_amt,nass_amt,fncg_gld_auto_rdpt_yn,pchs_amt_smtl_amt,evlu_amt_smtl_amt,evlu_pfls_smtl_amt,tot_stln_slng_chgs,bfdy_tot_asst_evlu_amt,asst_icdc_amt,asst_icdc_erng_rt
0,10000000,10000000,10000000,0,0,0,0,0,0,0,...,10000000,10000000,,0,0,0,0,10000000,0,0.00000000