In [352]:
from system_ver12 import systemtrade

In [353]:
import keyring
import requests
import json

### Define ID and Password

In [294]:
# 유진모의계좌

keyring.set_password('mock_app_key', '@2229673', 'PSy3N0hiW3taBNYtIzKpuH2xnZ6jt72KqpQf')
keyring.set_password('mock_app_secret', '@2229673', '7/xPBWEvxqjEWPZ7R/w5XhA/bXX7ULjmL7da6Amn4/0drE+8HYXf9vAt/GrB93vsOzVp1vxzQ1+95gvpux2GlM9r8O3zs72TabFVezX7usnkA8AKAC+e2YVBXgms5lVxNFRBJ9tXoS9ypS7yjWfm09BB6ZCXtQJkaSmR4gsT21rAJOiZUeA=')

key_name = 'mock_app_key'
secret_name = 'mock_app_secret'
ID = '@2229673'
cano ='50102559'

In [354]:
#카니실전(1)

keyring.set_password('act_app_key', 'a_kannie', 'PSnvAltwjE5ZrOaITkVgetxCutSSexVH4qEw')
keyring.set_password('act_app_secret', 'a_kannie', 'LLhGO6tUDaepjBRFtocxjcYPZbkLfR5mKRFJrPccIkOBVfLsUhkVMFNWy7h7bWAD4CSq3nPowAYX/MMocSI9MAXrbNximason8X8V44iWkrrH/+IJT7E8CAN6fiCQwcnuHLZi/ryI/AzgHLHxwf56cCj/jEMtjrvxf6aITV5WrzSSmYLNOg=')

In [355]:

key_name = 'act_app_key'
secret_name = 'act_app_secret'

ID = 'a_kannie'
mock = '0' #실전
cano = '64099516'

In [243]:
# 카니모의계좌

keyring.set_password('mock_app_key', 'v_kannie', 'PSnwe2lboWhKABz4afYQUf5Cnm0x6IlBxt6F')
keyring.set_password('mock_app_secret', 'v_kannie', 'zFilo09//IcL6SKcVd+VHCxiGuhmVhu+llV1emGjL+J202Y9w1hxyFszqhvzBXjcM34t3QTULxOxM5heeVPCJJQSTSaiZEYMHXyddWCaLVwZiT93dpzgwfnOC0Stc1pmvlxbBAzux5ASV+hZuiYAZ6KTYKxexelADUlR3mIBDbeNfBkNuiw=')

key_name = 'mock_app_key'
secret_name = 'mock_app_secret'
ID = 'v_kannie'
mock = '1'
cano = '50102070' #카니 모의

### See password

In [356]:
key = keyring.get_password(key_name, ID)

In [357]:
print(key)

PSnvAltwjE5ZrOaITkVgetxCutSSexVH4qEw

In [338]:
secret = keyring.get_password(secret_name, ID)

In [340]:
print(secret)

LLhGO6tUDaepjBRFtocxjcYPZbkLfR5mKRFJrPccIkOBVfLsUhkVMFNWy7h7bWAD4CSq3nPowAYX/MMocSI9MAXrbNximason8X8V44iWkrrH/+IJT7E8CAN6fiCQwcnuHLZi/ryI/AzgHLHxwf56cCj/jEMtjrvxf6aITV5WrzSSmYLNOg=

---

## Run all codes below

In [341]:
print(mock)

0

### 1. Initialize

In [367]:
sys = systemtrade(key_name, secret_name, ID, '0', cano)

https://openapi.koreainvestment.com:9443/oauth2/tokenP
{'content-type': 'application/json'}
{'grant_type': 'client_credentials', 'appkey': 'PSnvAltwjE5ZrOaITkVgetxCutSSexVH4qEw', 'appsecret': 'LLhGO6tUDaepjBRFtocxjcYPZbkLfR5mKRFJrPccIkOBVfLsUhkVMFNWy7h7bWAD4CSq3nPowAYX/MMocSI9MAXrbNximason8X8V44iWkrrH/+IJT7E8CAN6fiCQwcnuHLZi/ryI/AzgHLHxwf56cCj/jEMtjrvxf6aITV5WrzSSmYLNOg='}
eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6ImViNmQ0NTQzLWJlMTgtNDJlMi05NmI3LWZiZGFmZWUzOTJkMiIsImlzcyI6InVub2d3IiwiZXhwIjoxNzExMDkzOTE5LCJpYXQiOjE3MTEwMDc1MTksImp0aSI6IlBTbnZBbHR3akU1WnJPYUlUa1ZnZXR4Q3V0U1NleFZINHFFdyJ9.RLBq-prI4hYcgcujrimGW8qvQnD_alOJB4m0YJB-mr8PvQSV3753QQis5zDh2muxRmhfIzhhlT17Myo5hgKHTg

In [368]:
a=sys.check_account()

headers: {'Content-Type': 'application/json', 'authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6ImViNmQ0NTQzLWJlMTgtNDJlMi05NmI3LWZiZGFmZWUzOTJkMiIsImlzcyI6InVub2d3IiwiZXhwIjoxNzExMDkzOTE5LCJpYXQiOjE3MTEwMDc1MTksImp0aSI6IlBTbnZBbHR3akU1WnJPYUlUa1ZnZXR4Q3V0U1NleFZINHFFdyJ9.RLBq-prI4hYcgcujrimGW8qvQnD_alOJB4m0YJB-mr8PvQSV3753QQis5zDh2muxRmhfIzhhlT17Myo5hgKHTg', 'appKey': 'PSnvAltwjE5ZrOaITkVgetxCutSSexVH4qEw', 'appSecret': 'LLhGO6tUDaepjBRFtocxjcYPZbkLfR5mKRFJrPccIkOBVfLsUhkVMFNWy7h7bWAD4CSq3nPowAYX/MMocSI9MAXrbNximason8X8V44iWkrrH/+IJT7E8CAN6fiCQwcnuHLZi/ryI/AzgHLHxwf56cCj/jEMtjrvxf6aITV5WrzSSmYLNOg=', 'tr_id': 'TTTC8434R'}
params: {'CANO': '64099516', 'ACNT_PRDT_CD': '01', 'AFHR_FLPR_YN': 'N', 'UNPR_DVSN': '01', 'FUND_STTL_ICLD_YN': 'N', 'FNCG_AMT_AUTO_RDPT_YN': 'N', 'OFL_YN': '', 'INQR_DVSN': '01', 'PRCS_DVSN': '00', 'CTX_AREA_FK100': '', 'CTX_AREA_NK100': ''}

In [360]:
a[0]

     종목코드 보유수량
0  069500   10
1  229200   39

NameError: name 'datetime' is not defined

In [369]:
a[1]

{'dnca_tot_amt': '1000000',
 'nxdy_excc_amt': '54196',
 'prvs_rcdl_excc_amt': '54196',
 'cma_evlu_amt': '0',
 'bfdy_buy_amt': '945765',
 'thdt_buy_amt': '0',
 'nxdy_auto_rdpt_amt': '0',
 'bfdy_sll_amt': '0',
 'thdt_sll_amt': '0',
 'd2_auto_rdpt_amt': '0',
 'bfdy_tlex_amt': '39',
 'thdt_tlex_amt': '0',
 'tot_loan_amt': '0',
 'scts_evlu_amt': '966440',
 'tot_evlu_amt': '1020636',
 'nass_amt': '1020636',
 'fncg_gld_auto_rdpt_yn': '',
 'pchs_amt_smtl_amt': '945765',
 'evlu_amt_smtl_amt': '966440',
 'evlu_pfls_smtl_amt': '20675',
 'tot_stln_slng_chgs': '0',
 'bfdy_tot_asst_evlu_amt': '999376',
 'asst_icdc_amt': '21260',
 'asst_icdc_erng_rt': '0.00000000'}

In [362]:
print(a[1]['asst_icdc_amt'])
print(a[1]['asst_icdc_erng_rt'])

21260
0.00000000

In [363]:
print(a)

[     종목코드 보유수량
0  069500   10
1  229200   39, {'dnca_tot_amt': '1000000', 'nxdy_excc_amt': '54196', 'prvs_rcdl_excc_amt': '54196', 'cma_evlu_amt': '0', 'bfdy_buy_amt': '945765', 'thdt_buy_amt': '0', 'nxdy_auto_rdpt_amt': '0', 'bfdy_sll_amt': '0', 'thdt_sll_amt': '0', 'd2_auto_rdpt_amt': '0', 'bfdy_tlex_amt': '39', 'thdt_tlex_amt': '0', 'tot_loan_amt': '0', 'scts_evlu_amt': '966440', 'tot_evlu_amt': '1020636', 'nass_amt': '1020636', 'fncg_gld_auto_rdpt_yn': '', 'pchs_amt_smtl_amt': '945765', 'evlu_amt_smtl_amt': '966440', 'evlu_pfls_smtl_amt': '20675', 'tot_stln_slng_chgs': '0', 'bfdy_tot_asst_evlu_amt': '999376', 'asst_icdc_amt': '21260', 'asst_icdc_erng_rt': '0.00000000'}]

In [364]:
a=sys.main()

headers: {'Content-Type': 'application/json', 'authorization': 'Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0b2tlbiIsImF1ZCI6ImViNmQ0NTQzLWJlMTgtNDJlMi05NmI3LWZiZGFmZWUzOTJkMiIsImlzcyI6InVub2d3IiwiZXhwIjoxNzExMDkzOTE5LCJpYXQiOjE3MTEwMDc1MTksImp0aSI6IlBTbnZBbHR3akU1WnJPYUlUa1ZnZXR4Q3V0U1NleFZINHFFdyJ9.RLBq-prI4hYcgcujrimGW8qvQnD_alOJB4m0YJB-mr8PvQSV3753QQis5zDh2muxRmhfIzhhlT17Myo5hgKHTg', 'appKey': 'PSnvAltwjE5ZrOaITkVgetxCutSSexVH4qEw', 'appSecret': 'LLhGO6tUDaepjBRFtocxjcYPZbkLfR5mKRFJrPccIkOBVfLsUhkVMFNWy7h7bWAD4CSq3nPowAYX/MMocSI9MAXrbNximason8X8V44iWkrrH/+IJT7E8CAN6fiCQwcnuHLZi/ryI/AzgHLHxwf56cCj/jEMtjrvxf6aITV5WrzSSmYLNOg=', 'tr_id': 'TTTC8434R'}
params: {'CANO': '64099516', 'ACNT_PRDT_CD': '01', 'AFHR_FLPR_YN': 'N', 'UNPR_DVSN': '01', 'FUND_STTL_ICLD_YN': 'N', 'FNCG_AMT_AUTO_RDPT_YN': 'N', 'OFL_YN': '', 'INQR_DVSN': '01', 'PRCS_DVSN': '00', 'CTX_AREA_FK100': '', 'CTX_AREA_NK100': ''}

In [365]:
a

,종목코드,이름,홀수 비중 11-4,홀수 비중 5-10,짝수 비중 11-4,짝수 비중 5-10,보유수량,현재가,목표수량,투자수량
0,069500,KODEX 200,0.4,0.0,0.35,0.00,10,37715,9.0,-1.0
1,114260,KODEX 국고채3년,0.0,0.0,0.10,0.10,0,59440,1.0,1.0
2,133690,TIGER 미국나스닥100,0.0,0.5,0.00,0.35,0,108460,0.0,0.0
3,143850,TIGER 미국S&P500선물(H),0.0,0.5,0.00,0.35,0,58535,0.0,0.0
4,153130,KODEX 단기채권,0.0,0.0,0.10,0.10,0,109080,0.0,0.0
5,157450,TIGER 단기통안채,0.0,0.0,0.10,0.10,0,106445,0.0,0.0
6,229200,KODEX 코스닥150,0.6,0.0,0.35,0.00,39,15110,23.0,-16.0

In [366]:
a['보유수량']

0    10
1     0
2     0
3     0
4     0
5     0
6    39
Name: 보유수량, dtype: int64

### 2. Compute reblanacing assets and weights

In [57]:
execute_rebal1 = sys.main()

In [12]:
execute_rebal1.get_jobs()

[Every 1 day at 10:21:31 do trading_at_once('069500', 'VTTC0801U', '03', -2.0) (last run: [never], next run: 2024-03-16 21:21:31),
 Every 1 day at 10:21:31 do trading_at_once('114260', 'VTTC0801U', '03', -16.0) (last run: [never], next run: 2024-03-16 21:21:31),
 Every 1 day at 10:21:31 do trading_at_once('133690', 'VTTC0801U', '03', 0.0) (last run: [never], next run: 2024-03-16 21:21:31),
 Every 1 day at 10:21:31 do trading_at_once('143850', 'VTTC0801U', '03', 0.0) (last run: [never], next run: 2024-03-16 21:21:31),
 Every 1 day at 10:21:31 do trading_at_once('153130', 'VTTC0801U', '03', 0.0) (last run: [never], next run: 2024-03-16 21:21:31),
 Every 1 day at 10:21:31 do trading_at_once('157450', 'VTTC0801U', '03', 0.0) (last run: [never], next run: 2024-03-16 21:21:31),
 Every 1 day at 10:21:31 do trading_at_once('229200', 'VTTC0801U', '03', -9.0) (last run: [never], next run: 2024-03-16 21:21:31)]

### 3. Execute scheduler!

In [13]:
sys.execute()

KeyboardInterrupt:

---

## Ignore

In [10]:
from datetime import timedelta
import datetime

In [12]:
 datetime.datetime.now().strftime('%H:%M:%S')

'21:12:05'

In [14]:
import pandas as pd

In [15]:
        time_list = pd.date_range(datetime.datetime.now(), datetime.datetime.now() + timedelta(minutes=1), periods = 5)    
        time_list = time_list.round(freq = 's').tolist()    
        time_list_sec = [s.strftime('%H:%M:%S') for s in time_list]

In [16]:
time_list_sec

['21:12:39', '21:12:54', '21:13:09', '21:13:24', '21:13:39']

In [17]:
sys.main()

,종목코드,이름,홀수 비중 11-4,홀수 비중 5-10,짝수 비중 11-4,짝수 비중 5-10,보유수량,현재가,목표수량,투자수량
0,069500,KODEX 200,0.4,0.0,0.35,0.00,102,36410,94.0,-8.0
1,114260,KODEX 국고채3년,0.0,0.0,0.10,0.10,32,59365,16.0,-16.0
2,133690,TIGER 미국나스닥100,0.0,0.5,0.00,0.35,0,106280,0.0,0.0
3,143850,TIGER 미국S&P500선물(H),0.0,0.5,0.00,0.35,0,57180,0.0,0.0
4,153130,KODEX 단기채권,0.0,0.0,0.10,0.10,8,109030,9.0,1.0
5,157450,TIGER 단기통안채,0.0,0.0,0.10,0.10,9,106385,9.0,0.0
6,229200,KODEX 코스닥150,0.6,0.0,0.35,0.00,263,14885,230.0,-33.0