In [3]:
import pandas as pd
from datetime import datetime

In [8]:
df = pd.read_csv(r'C:\Users\kango\Desktop\cqralgo\cqrsite\portfolio\cvs\종목별투자비중추이20240208.csv')
df=df.rename(columns={'KODEX 200 mkt val':'KODEX200', 'KODEX 국고채3년 mkt val':'국고채3','TIGER 미국나스닥100 mkt val':'나스닥100', 
                      'TIGER 미국S&P500선물(H) mkt val':'S&P500', 'KODEX 단기채권 mkt val':'단기채', 'TIGER 단기통안채 mkt val':'통안채',
                      'KODEX 코스닥150 mkt val':'코스닥150', 'cash_rem':'cash', 'total':'total'})

In [12]:
df=df[['Date','코스닥150','KODEX200','나스닥100','S&P500','국고채3','단기채','통안채','cash','total']]
df

,Date,코스닥150,KODEX200,나스닥100,S&P500,국고채3,단기채,통안채,cash,total
0,2015-10-30 00:00:00,0.00%,9.98%,19.99%,19.99%,16.64%,16.66%,16.65%,0.08%,100.00%
1,2015-11-02 00:00:00,0.00%,10.01%,19.86%,19.83%,16.73%,16.75%,16.75%,0.08%,100.00%
2,2015-11-03 00:00:00,0.00%,10.05%,19.94%,20.01%,16.62%,16.66%,16.65%,0.08%,100.00%
3,2015-11-04 00:00:00,0.00%,10.03%,19.97%,20.04%,16.60%,16.64%,16.63%,0.08%,100.00%
4,2015-11-05 00:00:00,0.00%,,20.09%,19.99%,16.58%,16.63%,16.62%,0.08%,100.00%
...,...,...,...,...,...,...,...,...,...,...
1746,2022-12-23 00:00:00,20.70%,13.72%,20.19%,14.03%,10.41%,10.37%,10.40%,0.17%,100.00%
1747,2022-12-26 00:00:00,21.00%,13.68%,20.07%,14.05%,10.36%,10.32%,10.35%,0.17%,100.00%
1748,2022-12-27 00:00:00,21.19%,13.71%,20.02%,14.05%,10.29%,10.27%,10.30%,0.17%,100.00%
1749,2022-12-28 00:00:00,20.87%,13.73%,19.83%,14.11%,10.42%,10.42%,10.45%,0.17%,100.00%
1750,2022-12-29 00:00:00,20.70%,13.63%,19.81%,14.08%,10.52%,10.53%,10.56%,0.17%,100.00%

In [41]:
sdate=df.Date.values[0][:10]
sdate

SyntaxError: invalid syntax (3424628363.py, line 1)

In [39]:
f_item1_val = float(df.KODEX200.values[0].rstrip('%')) / 100

In [40]:
f_item1_val

0.0998

In [28]:
sqlst = "INSERT INTO portfolio_dailympvalue (date, port_id, item1_val) values " \
                        "({sdate=df.Date.values[0][:10]}, {i_port_id}, {f_item1_val})"

In [29]:
sqlst

'INSERT INTO portfolio_dailympvalue (date, port_id, item1_val) values ({sdate=df.Date.values[0][:10]}, {i_port_id}, {f_item1_val})'