## Data read

In [5]:
import numpy as np
from MP_gen import StockData
from datetime import date
import warnings

In [7]:
# 069500	KODEX 200(2002.10.14) \KOSPI Composite Index (^KS11)\KODEX KOSPI (226490.KS)\Kodex 200 TR (278530.KS)
# 229200	KODEX 코스닥150 (2015.10.01) \ Kosdaq Composite Index (^KQ11) \
# 133690	TIGER 미국나스닥100 (2010.10.18) \ NASDAQ Composite (^IXIC)
#KODEX Nsdaq 100 TR (379810.KS)\Tiger Nasdaq 100 TR H(448300.KS)
# 143850	TIGER 미국S&P500선물(H) (2011.07.18) \# 379800	KODEX 미국S&P500TR \ Tiger S&P500 TR H (448290.KS)
# 114260	KODEX 국고채3년 
# 153130	KODEX 단기채권 
# 157450	TIGER 단기통안채\ # 357870	TIGER CD금리투자KIS(합성) 
# Dow Jones Industrial Average (^DJI)
#KOSPI, Bonds, NASDAQ, S&P, Cash, MMF, KOSDAQ

tic = [ "114260.KS",    #Bond, cash, mmf, kosdq, KOSPI, NASDAQ, S&P
           "153130.KS", "157450.KS","229200.KS", "278530.KS", "379810.KS", "379800.KS"] 

# tic = ["379810.KS", "448300.KS",
#              "069500.KS", "143850.KS",
#              "114260.KS", "153130.KS",
#              "157450.KS",
#              ]
stock_data = StockData(tic)

In [8]:
todate = date.today()
todate = date.today().strftime("%Y-%m-%d")

In [9]:
todate

'2024-06-05'

In [10]:
warnings.filterwarnings('ignore', category=FutureWarning)
data = stock_data.download_data('2015-10-1', todate,'1d')

[*********************100%%**********************]  7 of 7 completed

In [11]:
data

Price          Adj Close                                              \
Ticker         114260.KS      153130.KS      157450.KS     229200.KS
Date
2015-10-01  53475.753906   96814.828125   97606.515625  10554.125977
2015-10-02  53461.398438   96819.601562   97606.515625  10603.167969
2015-10-05  53509.253906   96819.601562   97611.328125  10691.446289
2015-10-06  53494.902344   96833.914062   97616.140625  10632.594727
2015-10-07  53456.605469   96843.453125   97630.570312  10397.185547
...                  ...            ...            ...           ...
2024-05-29  59590.000000  109720.000000  107060.000000  13255.000000
2024-05-30  59600.000000  109760.000000  107090.000000  13160.000000
2024-05-31  59600.000000  109755.000000  107090.000000  13285.000000
2024-06-03  59645.000000  109775.000000  107095.000000  13385.000000
2024-06-04  59735.000000  109810.000000  107115.000000  13535.000000

Price                                        Close                      ...  \
Ticker     278530.KS 379800.KS 379810.KS 114260.KS 153130.KS 157450.KS  ...
Date                                                                    ...
2015-10-01       NaN       NaN       NaN   55865.0  101480.0  101445.0  ...
2015-10-02       NaN       NaN       NaN   55850.0  101485.0  101445.0  ...
2015-10-05       NaN       NaN       NaN   55900.0  101485.0  101450.0  ...
2015-10-06       NaN       NaN       NaN   55885.0  101500.0  101455.0  ...
2015-10-07       NaN       NaN       NaN   55845.0  101510.0  101470.0  ...
...              ...       ...       ...       ...       ...       ...  ...
2024-05-29   12750.0   16385.0   17085.0   59590.0  109720.0  107060.0  ...
2024-05-30   12525.0   16415.0   17090.0   59600.0  109760.0  107090.0  ...
2024-05-31   12525.0   16455.0   17050.0   59600.0  109755.0  107090.0  ...
2024-06-03   12750.0   16540.0   17045.0   59645.0  109775.0  107095.0  ...
2024-06-04   12660.0   16500.0   17020.0   59735.0  109810.0  107115.0  ...

Price           Open                        Volume                      \
Ticker     278530.KS 379800.KS 379810.KS 114260.KS 153130.KS 157450.KS
Date
2015-10-01       NaN       NaN       NaN    1198.0   14464.0    5752.0
2015-10-02       NaN       NaN       NaN     267.0    2753.0     466.0
2015-10-05       NaN       NaN       NaN     174.0    6159.0    1776.0
2015-10-06       NaN       NaN       NaN   37801.0    7613.0  171260.0
2015-10-07       NaN       NaN       NaN    1001.0   44473.0     328.0
...              ...       ...       ...       ...       ...       ...
2024-05-29   12925.0   16420.0   17145.0    2091.0   51048.0    3445.0
2024-05-30   12635.0   16380.0   17045.0    2937.0   35332.0    4898.0
2024-05-31   12625.0   16360.0   16965.0    4057.0    7950.0    7220.0
2024-06-03   12600.0   16580.0   17070.0    3064.0   13571.0    9532.0
2024-06-04   12650.0   16485.0   17045.0    5398.0   17937.0    5103.0

Price
Ticker      229200.KS 278530.KS 379800.KS 379810.KS
Date
2015-10-01    30032.0       NaN       NaN       NaN
2015-10-02    60029.0       NaN       NaN       NaN
2015-10-05    40976.0       NaN       NaN       NaN
2015-10-06    40252.0       NaN       NaN       NaN
2015-10-07    20248.0       NaN       NaN       NaN
...               ...       ...       ...       ...
2024-05-29  8287830.0  176682.0  792962.0  464923.0
2024-05-30  9005925.0   61418.0  556907.0  413826.0
2024-05-31  8313674.0  407963.0  489325.0  371183.0
2024-06-03  6141351.0  120611.0  714624.0  569617.0
2024-06-04  6127768.0  169236.0  824393.0  504861.0

[2108 rows x 42 columns]

In [12]:
data.Close.dropna(thresh = 4)

Ticker,114260.KS,153130.KS,157450.KS,229200.KS,278530.KS,379800.KS,379810.KS
Date,,,,,,,
2015-10-01,55865.0,101480.0,101445.0,10760.0,NaN,NaN,NaN
2015-10-02,55850.0,101485.0,101445.0,10810.0,NaN,NaN,NaN
2015-10-05,55900.0,101485.0,101450.0,10900.0,NaN,NaN,NaN
2015-10-06,55885.0,101500.0,101455.0,10840.0,NaN,NaN,NaN
2015-10-07,55845.0,101510.0,101470.0,10600.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2024-05-29,59590.0,109720.0,107060.0,13255.0,12750.0,16385.0,17085.0
2024-05-30,59600.0,109760.0,107090.0,13160.0,12525.0,16415.0,17090.0
2024-05-31,59600.0,109755.0,107090.0,13285.0,12525.0,16455.0,17050.0
2024-06-03,59645.0,109775.0,107095.0,13385.0,12750.0,16540.0,17045.0
2024-06-04,59735.0,109810.0,107115.0,13535.0,12660.0,16500.0,17020.0

In [13]:
df,ret = stock_data.clean()

In [14]:
ret

Ticker,114260.KS,153130.KS,157450.KS,229200.KS,278530.KS,379800.KS,379810.KS
Date,,,,,,,
2021-04-09,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2021-04-12,1.000949,1.000049,1.000100,1.008579,1.000000,1.006941,1.007404
2021-04-13,1.000431,0.999951,0.999950,1.018374,1.009369,1.003447,1.000490
2021-04-14,1.000775,1.000000,1.000000,1.001336,1.008211,0.995584,1.004407
2021-04-15,0.998795,1.000097,1.000050,0.998665,1.002125,0.998521,0.991711
...,...,...,...,...,...,...,...
2024-05-29,0.998492,1.000000,1.000234,0.981852,0.986460,0.999695,1.002053
2024-05-30,1.000168,1.000365,1.000280,0.992833,0.982353,1.001831,1.000293
2024-05-31,1.000000,0.999954,1.000000,1.009498,1.000000,1.002437,0.997659
2024-06-03,1.000755,1.000182,1.000047,1.007527,1.017964,1.005166,0.999707
2024-06-04,1.001509,1.000319,1.000187,1.011207,0.992941,0.997582,0.998533

In [19]:
df.tail(50)

Ticker,Date,end of month,year,month,114260.KS,153130.KS,157450.KS,229200.KS,278530.KS,379800.KS,379810.KS
707,2024-03-21,False,2024,3,1.002023,1.000321,1.000282,1.019568,1.025337,1.001273,1.007788
708,2024-03-22,False,2024,3,1.001009,1.000275,1.000141,1.001655,0.996525,1.011761,1.009583
709,2024-03-25,False,2024,3,0.999328,1.000092,1.000000,1.020482,0.998063,0.999372,1.000919
710,2024-03-26,False,2024,3,1.000589,1.000000,1.000188,1.004856,1.008152,0.997799,0.998470
711,2024-03-27,False,2024,3,1.000168,1.000137,1.000000,0.991946,1.003466,1.005671,1.004596
712,2024-03-28,False,2024,3,0.999916,1.000137,1.000282,0.996103,0.998081,1.003133,0.998170
713,2024-03-29,False,2024,3,0.999748,1.000000,1.000141,0.989240,1.001538,1.008432,1.004583
714,2024-04-01,True,2024,4,1.001345,1.000275,1.000047,1.002637,1.002303,0.999071,1.003041
715,2024-04-02,False,2024,4,0.998405,1.000046,1.000047,0.968442,1.003830,0.995350,0.997574
716,2024-04-03,False,2024,4,1.000000,1.000092,1.000000,0.982349,0.983976,0.990034,0.985714
717,2024-04-04,False,2024,4,0.999664,1.000137,1.000422,1.000000,1.013959,1.003775,1.006784
718,2024-04-05,False,2024,4,1.000505,1.000183,1.000000,0.984451,0.989293,0.991539,0.988361
719,2024-04-08,False,2024,4,0.998319,1.000092,1.000188,0.992980,1.005025,1.008217,1.010846
720,2024-04-09,False,2024,4,0.999747,1.000092,1.000047,0.998233,0.993846,1.002821,1.002146
721,2024-04-11,False,2024,4,0.998231,1.000092,1.000235,0.999292,0.999226,0.998750,1.000918
722,2024-04-12,False,2024,4,1.001941,1.000229,0.999812,0.998228,0.990705,1.015649,1.024756
723,2024-04-15,False,2024,4,0.999242,1.000092,1.000234,0.996450,0.994136,0.996302,0.994035
724,2024-04-16,False,2024,4,0.999579,1.000046,1.000000,0.978269,0.977979,0.988865,0.984698
725,2024-04-17,False,2024,4,0.999410,1.000046,1.000047,0.991624,0.986329,0.992493,0.993601
726,2024-04-18,False,2024,4,1.002109,1.000274,1.000234,1.030114,1.019160,0.989915,0.986201
727,2024-04-19,False,2024,4,0.998232,1.000091,1.000188,0.988235,0.981200,0.992996,0.986629
728,2024-04-22,False,2024,4,0.999157,0.999954,1.000047,1.011183,1.013861,1.001603,0.992436
729,2024-04-23,False,2024,4,1.001013,1.000091,1.000000,1.000000,0.999196,1.002241,1.001270
730,2024-04-24,False,2024,4,0.999325,1.000091,1.000047,1.026400,1.018913,1.009582,1.017761
731,2024-04-25,False,2024,4,0.999072,1.000183,1.000141,0.983316,0.983017,0.993040,0.985354
732,2024-04-26,False,2024,4,1.000253,1.000091,1.000234,1.004242,1.010446,1.012424,1.020873
733,2024-04-29,False,2024,4,1.000000,1.000229,1.000234,1.013376,1.009543,1.005979,1.009603
734,2024-04-30,False,2024,4,1.000760,1.000091,1.000000,1.000000,1.004332,1.002815,1.003989
735,2024-05-02,False,2024,5,1.001434,1.000320,1.000422,0.995832,0.995686,0.982533,0.974939
736,2024-05-03,False,2024,5,1.000084,1.000137,1.000140,0.993722,0.999606,0.996825,1.001567
737,2024-05-07,False,2024,5,1.001853,1.000228,1.000094,1.003159,1.022459,1.017834,1.023161
738,2024-05-08,False,2024,5,1.000336,1.000000,1.000000,1.001400,1.004239,1.005006,1.004589
739,2024-05-09,False,2024,5,0.999664,1.000365,1.000421,0.992662,0.988872,1.002179,1.001523
740,2024-05-10,False,2024,5,1.000168,1.000046,1.000094,0.992608,1.005433,1.007456,1.003953
741,2024-05-13,False,2024,5,1.000588,1.000091,1.000187,0.981560,0.996912,1.001542,1.004240
742,2024-05-14,False,2024,5,0.999748,1.000183,1.000094,1.009032,1.001549,0.999384,1.000000
743,2024-05-16,False,2024,5,1.002689,1.000456,1.000421,1.005371,1.011210,1.000000,1.006031
744,2024-05-17,False,2024,5,0.999329,1.000000,0.999907,0.953704,0.987768,1.004313,1.005096
745,2024-05-20,False,2024,5,0.999497,1.000137,1.000187,1.002240,1.008127,1.003374,1.000895
746,2024-05-21,False,2024,5,1.000503,1.000000,1.000000,1.001118,0.995393,1.005197,1.009535
747,2024-05-22,False,2024,5,0.999497,1.000228,1.000093,1.002605,1.000000,1.001825,1.002656
748,2024-05-23,False,2024,5,1.001259,1.000228,1.000280,0.997030,1.000000,1.002429,1.007359
749,2024-05-24,False,2024,5,0.999078,1.000091,1.000187,0.990692,0.984188,0.992732,0.992694
750,2024-05-27,False,2024,5,1.000252,1.000046,0.999953,1.015784,1.014498,1.002441,1.005593
751,2024-05-28,False,2024,5,1.001006,1.000137,1.000093,0.998890,0.998455,0.997565,0.998244
752,2024-05-29,False,2024,5,0.998492,1.000000,1.000234,0.981852,0.986460,0.999695,1.002053
753,2024-05-30,False,2024,5,1.000168,1.000365,1.000280,0.992833,0.982353,1.001831,1.000293
754,2024-05-31,False,2024,5,1.000000,0.999954,1.000000,1.009498,1.000000,1.002437,0.997659
755,2024-06-03,True,2024,6,1.000755,1.000182,1.000047,1.007527,1.017964,1.005166,0.999707
756,2024-06-04,False,2024,6,1.001509,1.000319,1.000187,1.011207,0.992941,0.997582,0.998533

## 1. Original Halloween

In [22]:
""" Weights """#KOSPI, -, NASDAQ, S&P, -, -, KOSDAQ
# odd_buy = np.array([1*1, (1/3*0), 0*1, 0*1, (1/3*0), (1/3*0), 0*1]) #11-4
# odd_hold = np.array([0.0*1, (1/3*0), 0.0*1, 0.0*1, (1/3*0), (1/3*0), 0.0*1]) #5-10

odd_buy = np.array([0*1, (1/3*0), 0*1, 0*1, (1/3*0), (0*1), 1*1]) #11-4
odd_hold = np.array([0*1, (1/3*0), 0*1, 0*1, (1/3*0), (0*1), 0*1]) #5-10


# odd_buy = np.array([0.2*0.7, (1/3*0.3), 0.3*0.7, 0.2*0.7, (1/3*0.3), (1/3*0.3), 0.3*0.7]) 
# odd_hold = np.array([0.2*0.7, (1/3*0.3), 0.3*0.7, 0.2*0.7, (1/3*0.3), (1/3*0.3), 0.0*0.7])

# odd_buy = np.array([0.0*0.7, (1/3*0.3), 0.0*0.7, 0.0*0.7, (1/3*0.3), (1/3*0.3), 1*0.7]) #11-4
# odd_hold = np.array([0.0*0.7, (1/3*0.3), 0.0*0.7, 0.0*0.7, (1/3*0.3), (1/3*0.3), 0.0*0.7]) #5-10

In [23]:
halloween = stock_data.algo_original_halloween(odd_buy, odd_hold,1000)

In [24]:
stock_data.results()[0]

Ticker,114260.KS mkt val,153130.KS mkt val,157450.KS mkt val,229200.KS mkt val,278530.KS mkt val,379800.KS mkt val,379810.KS mkt val,cash_rem,port_val,strat
Date,,,,,,,,,,
2021-04-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,passive
2021-04-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,passive
2021-04-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,passive
2021-04-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,passive
2021-04-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,passive
...,...,...,...,...,...,...,...,...,...,...
2024-05-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,passive
2024-05-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,passive
2024-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,passive
2024-06-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,passive
2024-06-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,passive

In [25]:
stock_data.results()[1]

Ticker,114260.KS mkt val,153130.KS mkt val,157450.KS mkt val,229200.KS mkt val,278530.KS mkt val,379800.KS mkt val,379810.KS mkt val,cash_rem,port_val,strat
Date,,,,,,,,,,
2021-04-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,passive
2021-04-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,passive
2021-04-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,passive
2021-04-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,passive
2021-04-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,passive
...,...,...,...,...,...,...,...,...,...,...
2024-05-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,passive
2024-05-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,passive
2024-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,passive
2024-06-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,passive
2024-06-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,passive

In [26]:
# 1. 일별수익률추이
daily_ret = stock_data.daily_ret()

In [27]:
daily_ret

Ticker,114260.KS mkt val,153130.KS mkt val,157450.KS mkt val,229200.KS mkt val,278530.KS mkt val,379800.KS mkt val,379810.KS mkt val,cash_rem,port_val,일별수익률,누적수익률
Date,,,,,,,,,,,
2021-04-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.00000
2021-04-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.00000
2021-04-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.00000
2021-04-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.00000
2021-04-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.00000
...,...,...,...,...,...,...,...,...,...,...,...
2024-05-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058
2024-05-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058
2024-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058
2024-06-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058
2024-06-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058

In [162]:
#daily_ret.loc['2023-06-01':'2023-08-01']
#filtered_df = df[(df['Date'] >= '2023-04-01') & (df['Date'] <='2023-06-01')]

____

## 수익률 테이블

In [28]:
import pandas as pd

In [29]:
daily_ret.iloc[-1,:]

Ticker
114260.KS mkt val       0.000000
153130.KS mkt val       0.000000
157450.KS mkt val       0.000000
229200.KS mkt val       0.000000
278530.KS mkt val       0.000000
379800.KS mkt val       0.000000
379810.KS mkt val       0.000000
cash_rem             1410.579699
port_val             1410.579699
일별수익률                   0.000000
누적수익률                   0.410580
Name: 2024-06-04 00:00:00, dtype: float64

In [30]:
refresh = pd.DataFrame(daily_ret.iloc[-1,:]).T

In [31]:
refresh['일별수익률']

2024-06-04    0.0
Name: 일별수익률, dtype: float64

In [32]:
# Method 2: 
daily_ret.iloc[-1,:]['일별수익률']

0.0

In [26]:
daily_ret.iloc[-2,:]['일별수익률']

0.0

In [33]:
daily_ret

Ticker,114260.KS mkt val,153130.KS mkt val,157450.KS mkt val,229200.KS mkt val,278530.KS mkt val,379800.KS mkt val,379810.KS mkt val,cash_rem,port_val,일별수익률,누적수익률
Date,,,,,,,,,,,
2021-04-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.00000
2021-04-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.00000
2021-04-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.00000
2021-04-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.00000
2021-04-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.00000
...,...,...,...,...,...,...,...,...,...,...,...
2024-05-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058
2024-05-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058
2024-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058
2024-06-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058
2024-06-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058

---

In [34]:
# 2. 월별수익률추이
monthly_ret = stock_data.monthly_ret()
monthly_ret

Ticker,114260.KS mkt val,153130.KS mkt val,157450.KS mkt val,229200.KS mkt val,278530.KS mkt val,379800.KS mkt val,379810.KS mkt val,cash_rem,port_val,월별수익률,누적수익률
Date,,,,,,,,,,,
2021-04-09,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1000.000000,1000.000000,0.000000,0.000000
2021-04-30,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1000.000000,1000.000000,0.000000,0.000000
2021-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1000.000000,1000.000000,0.000000,0.000000
2021-06-30,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1000.000000,1000.000000,0.000000,0.000000
2021-07-30,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1000.000000,1000.000000,0.000000,0.000000
2021-08-31,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1000.000000,1000.000000,0.000000,0.000000
2021-09-30,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1000.000000,1000.000000,0.000000,0.000000
2021-10-29,0.0,0.0,0.0,0.0,0.0,0.0,1054.800526,0.000000,1054.800526,0.054801,0.054801
2021-11-30,0.0,0.0,0.0,0.0,0.0,0.0,1117.492328,0.000000,1117.492328,0.059435,0.117492
2021-12-30,0.0,0.0,0.0,0.0,0.0,0.0,1131.959667,0.000000,1131.959667,0.012946,0.131960
2022-01-28,0.0,0.0,0.0,0.0,0.0,0.0,985.971065,0.000000,985.971065,-0.128970,-0.014029
2022-02-28,0.0,0.0,0.0,0.0,0.0,0.0,962.735642,0.000000,962.735642,-0.023566,-0.037264
2022-03-31,0.0,0.0,0.0,0.0,0.0,0.0,1059.622972,0.000000,1059.622972,0.100638,0.059623
2022-04-29,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1047.786059,1047.786059,-0.011171,0.047786
2022-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1047.786059,1047.786059,0.000000,0.047786
2022-06-30,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1047.786059,1047.786059,0.000000,0.047786
2022-07-29,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1047.786059,1047.786059,0.000000,0.047786
2022-08-31,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1047.786059,1047.786059,0.000000,0.047786
2022-09-30,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1047.786059,1047.786059,0.000000,0.047786
2022-10-31,0.0,0.0,0.0,0.0,0.0,0.0,1058.077690,0.000000,1058.077690,0.009822,0.058078
2022-11-30,0.0,0.0,0.0,0.0,0.0,0.0,983.585884,0.000000,983.585884,-0.070403,-0.016414
2022-12-29,0.0,0.0,0.0,0.0,0.0,0.0,879.199340,0.000000,879.199340,-0.106129,-0.120801
2023-01-31,0.0,0.0,0.0,0.0,0.0,0.0,948.300292,0.000000,948.300292,0.078595,-0.051700
2023-02-28,0.0,0.0,0.0,0.0,0.0,0.0,1035.044039,0.000000,1035.044039,0.091473,0.035044
2023-03-31,0.0,0.0,0.0,0.0,0.0,0.0,1094.343437,0.000000,1094.343437,0.057292,0.094343
2023-04-28,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1120.317554,1120.317554,0.023735,0.120318
2023-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1120.317554,1120.317554,0.000000,0.120318
2023-06-30,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1120.317554,1120.317554,0.000000,0.120318
2023-07-28,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1120.317554,1120.317554,0.000000,0.120318
2023-08-31,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1120.317554,1120.317554,0.000000,0.120318
2023-09-27,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1120.317554,1120.317554,0.000000,0.120318
2023-10-31,0.0,0.0,0.0,0.0,0.0,0.0,1095.878939,0.000000,1095.878939,-0.021814,0.095879
2023-11-30,0.0,0.0,0.0,0.0,0.0,0.0,1178.198484,0.000000,1178.198484,0.075117,0.178198
2023-12-28,0.0,0.0,0.0,0.0,0.0,0.0,1244.225619,0.000000,1244.225619,0.056041,0.244226
2024-01-31,0.0,0.0,0.0,0.0,0.0,0.0,1319.256454,0.000000,1319.256454,0.060303,0.319256
2024-02-29,0.0,0.0,0.0,0.0,0.0,0.0,1357.843740,0.000000,1357.843740,0.029249,0.357844
2024-03-29,0.0,0.0,0.0,0.0,0.0,0.0,1409.722203,0.000000,1409.722203,0.038207,0.409722
2024-04-30,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1410.579699,1410.579699,0.000608,0.410580
2024-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1410.579699,1410.579699,0.000000,0.410580
2024-06-04,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,1410.579699,1410.579699,0.000000,0.410580

In [35]:
daily_ret.iloc[-10:,:]

Ticker,114260.KS mkt val,153130.KS mkt val,157450.KS mkt val,229200.KS mkt val,278530.KS mkt val,379800.KS mkt val,379810.KS mkt val,cash_rem,port_val,일별수익률,누적수익률
Date,,,,,,,,,,,
2024-05-22,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058
2024-05-23,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058
2024-05-24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058
2024-05-27,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058
2024-05-28,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058
2024-05-29,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058
2024-05-30,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058
2024-05-31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058
2024-06-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058
2024-06-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1410.579699,1410.579699,0.0,0.41058

In [36]:
# 3. 자산별투자비중추이
port_weights = stock_data.portfolio_by_asset_class()

In [37]:
port_weights[0]

1.0

In [38]:
port_weights[1]

                6      5        3      2      1    total 위험자산비중  rebal
Date
2021-04-09  0.00%  0.00%  100.00%  0.00%  0.00%  100.00%  0.00%   True
2021-04-12  0.00%  0.00%  100.00%  0.00%  0.00%  100.00%  0.00%   True
2021-04-13  0.00%  0.00%  100.00%  0.00%  0.00%  100.00%  0.00%   True
2021-04-14  0.00%  0.00%  100.00%  0.00%  0.00%  100.00%  0.00%   True
2021-04-15  0.00%  0.00%  100.00%  0.00%  0.00%  100.00%  0.00%   True
...           ...    ...      ...    ...    ...      ...    ...    ...
2024-05-29  0.00%  0.00%  100.00%  0.00%  0.00%  100.00%  0.00%   True
2024-05-30  0.00%  0.00%  100.00%  0.00%  0.00%  100.00%  0.00%   True
2024-05-31  0.00%  0.00%  100.00%  0.00%  0.00%  100.00%  0.00%   True
2024-06-03  0.00%  0.00%  100.00%  0.00%  0.00%  100.00%  0.00%  False
2024-06-04  0.00%  0.00%  100.00%  0.00%  0.00%  100.00%  0.00%   True

[757 rows x 8 columns]

In [32]:
y = port_weights[1]

In [33]:
y.iloc[:,:5].max()

5    100.00%
3      0.00%
2      0.00%
1      0.00%
0    100.00%
dtype: object

In [34]:
# 4. 종목별투자비중추이
stock_data.portfolio_by_ind_assets()

c:\Users\kango\Desktop\cqralgo\cqrsite\portfolio\utilis\MP_gen.py:471: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  self.X1 = self.res_pct.iloc[:,:-1].applymap(self.to_percentage)

Ticker,069500.KS mkt val,114260.KS mkt val,133690.KS mkt val,143850.KS mkt val,153130.KS mkt val,157450.KS mkt val,229200.KS mkt val,cash_rem,port_val
Date,,,,,,,,,
2015-10-01,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,100.00%
2015-10-02,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,100.00%
2015-10-05,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,100.00%
2015-10-06,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,100.00%
2015-10-07,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,100.00%
...,...,...,...,...,...,...,...,...,...
2024-04-11,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,0.00%,100.00%
2024-04-12,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,0.00%,100.00%
2024-04-15,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,0.00%,100.00%
2024-04-16,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,0.00%,100.00%
2024-04-17,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,0.00%,100.00%

In [35]:
# 5. 리밸런싱발생내역
stock_data.rebalance_history()

                  5      3      2      1        0    total   위험자산비중  rebal
Date
2015-10-01    0.00%  0.00%  0.00%  0.00%  100.00%  100.00%    0.00%   True
2015-10-30  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True
2015-11-30  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True
2015-12-30  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True
2016-01-29  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True
...             ...    ...    ...    ...      ...      ...      ...    ...
2023-11-30  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True
2023-12-28  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True
2024-01-31  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True
2024-02-29  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True
2024-03-29  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True

[103 rows x 8 columns]

## 2. Adjusted Halloween

In [234]:
""" Weights """
#KOSPI, -, NASDAQ, S&P, -, -, KOSDAQ
odd_stock_w = 1
odd_bond_w = 0
even_stock_w = 1
even_bond_w = 0
even_passive_stock_w = 1
even_passive_bond_w = 0

In [235]:
odd_buy = np.array([0*odd_stock_w, (1/3*odd_bond_w), 0.0*odd_stock_w, 0.0*odd_stock_w, (1/3*odd_bond_w), (1/3*odd_bond_w), 0*odd_stock_w])          # Even 11 - Odd 4. Active
odd_hold = np.array([0.0*odd_stock_w, (1/3*odd_bond_w), 0*odd_stock_w, 0*odd_stock_w, (1/3*odd_bond_w), (1/3*odd_bond_w), 0.0*odd_stock_w])         # Odd 5 - Odd 10. 
even_buy = np.array([0*even_stock_w, (1/3*even_bond_w), 0.0*even_stock_w, 0.0*even_stock_w, (1/3*even_bond_w), (1/3*even_bond_w), 0*even_stock_w])  # Odd 11 - Even 4. NOTE: Here, we shift Kospi weight to Nasdaq instead of S&P 500 to be consistent with our logic that 11-4 should be more aggressive than 5-10. 
even_hold = np.array([0.0*even_passive_stock_w, (1/3*even_passive_bond_w), 0*even_passive_stock_w, 0*even_passive_stock_w, (1/3*even_passive_bond_w), (1/3*even_passive_bond_w), 1*even_passive_stock_w])  # Even 5 - Even 10

In [568]:
# odd_buy = np.array([0.4*odd_stock_w, (1/3*odd_bond_w), 0.0*odd_stock_w, 0.0*odd_stock_w, (1/3*odd_bond_w), (1/3*odd_bond_w), 0.6*odd_stock_w])          # Even 11 - Odd 4. Active
# odd_hold = np.array([0.0*odd_stock_w, (1/3*odd_bond_w), 0.5*odd_stock_w, 0.5*odd_stock_w, (1/3*odd_bond_w), (1/3*odd_bond_w), 0.0*odd_stock_w])         # Odd 5 - Odd 10. 
# even_buy = np.array([0.5*even_stock_w, (1/3*even_bond_w), 0.0*even_stock_w, 0.0*even_stock_w, (1/3*even_bond_w), (1/3*even_bond_w), 0.5*even_stock_w])  # Odd 11 - Even 4. NOTE: Here, we shift Kospi weight to Nasdaq instead of S&P 500 to be consistent with our logic that 11-4 should be more aggressive than 5-10. 
# even_hold = np.array([0.0*even_passive_stock_w, (1/3*even_passive_bond_w), 0.5*even_passive_stock_w, 0.5*even_passive_stock_w, (1/3*even_passive_bond_w), (1/3*even_passive_bond_w), 0.0*even_passive_stock_w])  # Even 5 - Even 10

In [236]:
halloween_adj = stock_data.algo1(1000,odd_buy,odd_hold,even_buy,even_hold)

In [237]:
stock_data.results()[0]

Ticker,069500.KS mkt val,114260.KS mkt val,133690.KS mkt val,143850.KS mkt val,153130.KS mkt val,157450.KS mkt val,229200.KS mkt val,cash_rem,port_val,strat
Date,,,,,,,,,,
2015-10-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,odd passive
2015-10-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,odd passive
2015-10-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,odd passive
2015-10-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,odd passive
2015-10-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,odd passive
...,...,...,...,...,...,...,...,...,...,...
2024-03-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,even aggressive
2024-03-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,even aggressive
2024-03-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,even aggressive
2024-03-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,even aggressive
2024-03-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,even aggressive

In [241]:
# 1. 일별수익률추이
daily_ret_dad = stock_data.daily_ret()

c:\Users\kango\Desktop\cqralgo\cqrsite\portfolio\utilis\class_trial.py:432: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  report['누적수익률'] = self.result['port_val']/self.result['port_val'][0]-1

In [242]:
daily_ret_dad

Ticker,069500.KS mkt val,114260.KS mkt val,133690.KS mkt val,143850.KS mkt val,153130.KS mkt val,157450.KS mkt val,229200.KS mkt val,cash_rem,port_val,일별수익률,누적수익률
Date,,,,,,,,,,,
2015-10-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.000000
2015-10-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.000000
2015-10-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.000000
2015-10-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.000000
2015-10-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
2024-03-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,0.0,-0.343831
2024-03-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,0.0,-0.343831
2024-03-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,0.0,-0.343831
2024-03-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,0.0,-0.343831
2024-03-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,0.0,-0.343831

## 수익률 테이블

## Report

---

In [245]:
%matplotlib inline
import quantstats as qs
import webbrowser

In [247]:
# extend pandas functionality with metrics, etc.
qs.extend_pandas()

In [248]:
qs.reports.html(daily_ret['일별수익률']        # <- Input 일별수익률
                , benchmark="^IXIC", output=r'c:\kannie\nasdaq_TR_H.html', title='nasdaq_TR_H')
#html_file_path = r"C:\Users\ewp\Desktop\mySite\cra_backtest\Halloween_kospi.html"

# Open the HTML file in the default web browser
#webbrowser.open(html_file_path)

c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:555: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  .resample("A")
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:557: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  .resample("A")
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:433: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  .resample(resample)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:435: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  .resample(resample)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Monthly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1021: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  port["Quarterly"] = port["Daily"].resample("Q").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1022: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Quarterly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1024: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  port["Yearly"] = port["Daily"].resample("A").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1025: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Yearly"].ffill(inplace=True)

In [41]:
qs.reports.html(daily_ret_dad['일별수익률']        # <- Input 일별수익률
                , benchmark="^IXIC", output=r'c:\kannie\h2.html', title='AdjHalloween_all')

NameError: name 'daily_ret_dad' is not defined

In [42]:
import yfinance as yf
import quantstats as qs

In [244]:
df_KQ11 = yf.download('^KQ11', start='2015-10-1', end='2024-02-26')

c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

In [496]:
df_KQ11 = yf.download('^KQ11', start='2015-10-1', end='2024-02-26')
df_KQ11 = df_KQ11['Adj Close'].pct_change().dropna()
qs.reports.html(df_KQ11 , output=r'c:\kannie\kosdaq2.html', title='kosdaq')

c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Monthly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1021: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  port["Quarterly"] = port["Daily"].resample("Q").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1022: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Quarterly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1024: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  port["Yearly"] = port["Daily"].resample("A").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1025: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Yearly"].ffill(inplace=True)

In [497]:
df_KS11 = yf.download('^KS11', start='2015-10-1', end='2024-02-26')
df_KS11 = df_KS11['Adj Close'].pct_change().dropna()
qs.reports.html(df_KS11 , output=r'c:\kannie\kospi2.html', title='kospi')

c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Monthly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1021: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  port["Quarterly"] = port["Daily"].resample("Q").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1022: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Quarterly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1024: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  port["Yearly"] = port["Daily"].resample("A").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1025: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Yearly"].ffill(inplace=True)

In [498]:
# df_KQ11 = yf.download('^KQ11', start='22012-05-16', end='2024-02-25')
# df_KS11 = yf.download('^KS11', start='2012-05-16', end='2024-02-25')
# df_DJI = yf.download('^DJI',start='2012-05-16', end='2024-02-25')
df_GSPC = yf.download('^GSPC',start='2015-10-1', end='2024-02-26')
df_IXIC = yf.download('^IXIC',start='2015-10-1', end='2024-02-26')
#Kosdaq Composite Index (^KQ11)
#KOSPI Composite Index (^KS11)
# Dow Jones Industrial Average (^DJI)
# S&P 500 (^GSPC)
# NASDAQ Composite (^IXIC)

c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

In [99]:
df

Ticker,Date,end of month,year,month,069500.KS,114260.KS,133690.KS,143850.KS,153130.KS,157450.KS,^KQ11
0,2012-05-16,True,2012,5,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,2012-05-17,True,2012,5,0.999593,1.000280,0.998489,1.001080,1.000298,1.000150,1.006710
2,2012-05-18,True,2012,5,0.967006,1.000841,0.978812,0.974470,1.000050,1.000250,0.958452
3,2012-05-21,True,2012,5,1.010320,0.999066,0.997294,1.001107,1.000149,1.000200,1.000468
4,2012-05-22,True,2012,5,1.017511,1.000841,1.016279,1.013638,1.000099,1.000150,1.027980
...,...,...,...,...,...,...,...,...,...,...,...
2863,2024-02-20,True,2024,2,0.988292,0.999831,0.997679,0.996879,1.000046,1.000000,1.008969
2864,2024-02-21,True,2024,2,0.997770,1.000169,0.989412,0.994901,1.000046,1.000141,0.997576
2865,2024-02-22,True,2024,2,1.005168,1.001943,1.009406,1.010161,1.000460,1.000236,1.006990
2866,2024-02-23,True,2024,2,1.003057,0.998820,1.015736,1.013886,0.999954,1.000094,0.998230
2867,2024-02-26,True,2024,2,0.991965,1.001688,0.995085,0.997191,1.000184,1.000094,0.998653

In [499]:
# df_KQ11 = df_KQ11['Adj Close'].pct_change().dropna()
# df_KS11 = df_KS11['Adj Close'].pct_change().dropna()
# df_DJI = df_DJI['Adj Close'].pct_change().dropna()
df_GSPC = df_GSPC['Adj Close'].pct_change().dropna()
df_IXIC = df_IXIC['Adj Close'].pct_change().dropna()

In [44]:
df_KQ11
df_KS11
df_DJI
df_GSPC
df_IXIC

Date
2015-10-02    0.017441
2015-10-05    0.015608
2015-10-06   -0.006881
2015-10-07    0.009012
2015-10-08    0.004099
                ...
2024-02-16   -0.008206
2024-02-20   -0.009183
2024-02-21   -0.003193
2024-02-22    0.029572
2024-02-23   -0.002793
Name: Adj Close, Length: 2112, dtype: float64

In [500]:
qs.reports.html(df_GSPC , output=r'c:\kannie\sp5002.html', title='sp5002')

qs.reports.html(df_IXIC , output=r'c:\kannie\nasdaq2.html', title='nasdaq2')

c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Monthly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1021: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  port["Quarterly"] = port["Daily"].resample("Q").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1022: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Quarterly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1024: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  port["Yearly"] = port["Daily"].resample("A").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1025: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Yearly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Monthly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1021: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  port["Quarterly"] = port["Daily"].resample("Q").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1022: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Quarterly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1024: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  port["Yearly"] = port["Daily"].resample("A").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1025: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Yearly"].ffill(inplace=True)

In [48]:

qs.reports.html(df_KS11 , output=r'c:\kannie\kospi.html', title='kospi')
qs.reports.html(df_DJI , output=r'c:\kannie\dji.html', title='dji')
qs.reports.html(df_GSPC , output=r'c:\kannie\sp500.html', title='sp500')
qs.reports.html(df_IXIC , output=r'c:\kannie\nasdaq.html', title='nasdaq')

c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Monthly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1021: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  port["Quarterly"] = port["Daily"].resample("Q").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1022: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Quarterly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1024: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  port["Yearly"] = port["Daily"].resample("A").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1025: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Yearly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Monthly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1021: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  port["Quarterly"] = port["Daily"].resample("Q").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1022: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Quarterly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1024: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  port["Yearly"] = port["Daily"].resample("A").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1025: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Yearly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Monthly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1021: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  port["Quarterly"] = port["Daily"].resample("Q").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1022: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Quarterly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1024: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  port["Yearly"] = port["Daily"].resample("A").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1025: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Yearly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.
