## Data read

In [1]:
import numpy as np
from MP_gen import StockData
from datetime import date

In [4]:
# 069500	KODEX 200(2002.10.14) \KOSPI Composite Index (^KS11)\KODEX KOSPI (226490.KS)\Kodex 200 TR (278530.KS)
# 229200	KODEX 코스닥150 (2015.10.01) \ Kosdaq Composite Index (^KQ11) \
# 133690	TIGER 미국나스닥100 (2010.10.18) \ NASDAQ Composite (^IXIC)
#KODEX Nsdaq 100 TR (379810.KS)\Tiger Nasdaq 100 TR H(448300.KS)
# 143850	TIGER 미국S&P500선물(H) (2011.07.18) \# 379800	KODEX 미국S&P500TR \ Tiger S&P500 TR H (448290.KS)
# 114260	KODEX 국고채3년 
# 153130	KODEX 단기채권 
# 157450	TIGER 단기통안채\ # 357870	TIGER CD금리투자KIS(합성) 
# Dow Jones Industrial Average (^DJI)
#KOSPI, Bonds, NASDAQ, S&P, Cash, MMF, KOSDAQ

tic = [ "114260.KS",    #Bond, cash, mmf, kosdq, KOSPI, NASDAQ, S&P
           "153130.KS", "157450.KS","229200.KS", "278530.KS", "379810.KS", "379800.KS"] 

# tic = ["379810.KS", "448300.KS",
#              "069500.KS", "143850.KS",
#              "114260.KS", "153130.KS",
#              "157450.KS",
#              ]
stock_data = StockData(tic)

In [5]:
todate = date.today()
todate = date.today().strftime("%Y-%m-%d")

In [6]:
todate

'2024-04-22'

In [7]:
data = stock_data.download_data('2015-10-1', todate,'1d')

c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[                       0%%                      ]c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[**************        29%%                      ]  2 of 7 completedc:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[********************* 43%%                      ]  3 of 7 completedc:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  7 of 7 completed

In [8]:
data

Price          Adj Close                                              \
Ticker         114260.KS      153130.KS      157450.KS     229200.KS
Date
2015-10-01  53475.757812   96814.828125   97606.515625  10569.005859
2015-10-02  53461.394531   96819.593750   97606.515625  10618.118164
2015-10-05  53509.261719   96819.593750   97611.328125  10706.521484
2015-10-06  53494.902344   96833.906250   97616.140625  10647.585938
2015-10-07  53456.617188   96843.445312   97630.570312  10411.844727
...                  ...            ...            ...           ...
2024-04-15  59330.000000  109295.000000  106635.000000  14035.000000
2024-04-16  59305.000000  109300.000000  106635.000000  13730.000000
2024-04-17  59270.000000  109305.000000  106640.000000  13615.000000
2024-04-18  59395.000000  109335.000000  106665.000000  14025.000000
2024-04-19  59290.000000  109345.000000  106685.000000  13860.000000

Price                                        Close                      ...  \
Ticker     278530.KS 379800.KS 379810.KS 114260.KS 153130.KS 157450.KS  ...
Date                                                                    ...
2015-10-01       NaN       NaN       NaN   55865.0  101480.0  101445.0  ...
2015-10-02       NaN       NaN       NaN   55850.0  101485.0  101445.0  ...
2015-10-05       NaN       NaN       NaN   55900.0  101485.0  101450.0  ...
2015-10-06       NaN       NaN       NaN   55885.0  101500.0  101455.0  ...
2015-10-07       NaN       NaN       NaN   55845.0  101510.0  101470.0  ...
...              ...       ...       ...       ...       ...       ...  ...
2024-04-15   12715.0   16165.0   16665.0   59330.0  109295.0  106635.0  ...
2024-04-16   12435.0   15985.0   16410.0   59305.0  109300.0  106635.0  ...
2024-04-17   12265.0   15865.0   16305.0   59270.0  109305.0  106640.0  ...
2024-04-18   12500.0   15705.0   16080.0   59395.0  109335.0  106665.0  ...
2024-04-19   12265.0   15595.0   15865.0   59290.0  109345.0  106685.0  ...

Price           Open                        Volume                      \
Ticker     278530.KS 379800.KS 379810.KS 114260.KS 153130.KS 157450.KS
Date
2015-10-01       NaN       NaN       NaN    1198.0   14464.0    5752.0
2015-10-02       NaN       NaN       NaN     267.0    2753.0     466.0
2015-10-05       NaN       NaN       NaN     174.0    6159.0    1776.0
2015-10-06       NaN       NaN       NaN   37801.0    7613.0  171260.0
2015-10-07       NaN       NaN       NaN    1001.0   44473.0     328.0
...              ...       ...       ...       ...       ...       ...
2024-04-15   12705.0   16140.0   16605.0    8904.0    9082.0    6984.0
2024-04-16   12580.0   15965.0   16385.0   12536.0   18080.0    4876.0
2024-04-17   12495.0   15980.0   16425.0   19880.0    7523.0    7393.0
2024-04-18   12320.0   15750.0   16090.0    2207.0   35257.0    4996.0
2024-04-19   12325.0   15690.0   15950.0   10654.0   25528.0   47458.0

Price
Ticker       229200.KS 278530.KS  379800.KS  379810.KS
Date
2015-10-01     30032.0       NaN        NaN        NaN
2015-10-02     60029.0       NaN        NaN        NaN
2015-10-05     40976.0       NaN        NaN        NaN
2015-10-06     40252.0       NaN        NaN        NaN
2015-10-07     20248.0       NaN        NaN        NaN
...                ...       ...        ...        ...
2024-04-15   9265774.0  104489.0  1082243.0   480277.0
2024-04-16  10205080.0  497288.0  1562447.0   701163.0
2024-04-17  10990210.0  259096.0  1275173.0   416644.0
2024-04-18   9850925.0   32191.0  1204760.0   706198.0
2024-04-19  13589360.0  682518.0  2391906.0  1267213.0

[2079 rows x 42 columns]

In [9]:
data.Close.dropna(thresh = 4)

Ticker,114260.KS,153130.KS,157450.KS,229200.KS,278530.KS,379800.KS,379810.KS
Date,,,,,,,
2015-10-01,55865.0,101480.0,101445.0,10760.0,NaN,NaN,NaN
2015-10-02,55850.0,101485.0,101445.0,10810.0,NaN,NaN,NaN
2015-10-05,55900.0,101485.0,101450.0,10900.0,NaN,NaN,NaN
2015-10-06,55885.0,101500.0,101455.0,10840.0,NaN,NaN,NaN
2015-10-07,55845.0,101510.0,101470.0,10600.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2024-04-15,59330.0,109295.0,106635.0,14035.0,12715.0,16165.0,16665.0
2024-04-16,59305.0,109300.0,106635.0,13730.0,12435.0,15985.0,16410.0
2024-04-17,59270.0,109305.0,106640.0,13615.0,12265.0,15865.0,16305.0
2024-04-18,59395.0,109335.0,106665.0,14025.0,12500.0,15705.0,16080.0
2024-04-19,59290.0,109345.0,106685.0,13860.0,12265.0,15595.0,15865.0

In [10]:
df,ret = stock_data.clean()

In [11]:
ret

Ticker,114260.KS,153130.KS,157450.KS,229200.KS,278530.KS,379800.KS,379810.KS
Date,,,,,,,
2021-04-09,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2021-04-12,1.000949,1.000049,1.000100,1.008579,1.000000,1.006941,1.007404
2021-04-13,1.000431,0.999951,0.999950,1.018374,1.009369,1.003447,1.000490
2021-04-14,1.000775,1.000000,1.000000,1.001336,1.008211,0.995584,1.004407
2021-04-15,0.998795,1.000097,1.000050,0.998665,1.002125,0.998521,0.991711
...,...,...,...,...,...,...,...
2024-04-15,0.999242,1.000092,1.000234,0.996450,0.994136,0.996302,0.994035
2024-04-16,0.999579,1.000046,1.000000,0.978269,0.977979,0.988865,0.984698
2024-04-17,0.999410,1.000046,1.000047,0.991624,0.986329,0.992493,0.993601
2024-04-18,1.002109,1.000274,1.000234,1.030114,1.019160,0.989915,0.986201
2024-04-19,0.998232,1.000091,1.000188,0.988235,0.981200,0.992996,0.986629

In [12]:
df

Ticker,Date,end of month,year,month,114260.KS,153130.KS,157450.KS,229200.KS,278530.KS,379800.KS,379810.KS
0,2021-04-09,True,2021,4,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,2021-04-12,True,2021,4,1.000949,1.000049,1.000100,1.008579,1.000000,1.006941,1.007404
2,2021-04-13,True,2021,4,1.000431,0.999951,0.999950,1.018374,1.009369,1.003447,1.000490
3,2021-04-14,True,2021,4,1.000775,1.000000,1.000000,1.001336,1.008211,0.995584,1.004407
4,2021-04-15,True,2021,4,0.998795,1.000097,1.000050,0.998665,1.002125,0.998521,0.991711
...,...,...,...,...,...,...,...,...,...,...,...
723,2024-04-15,True,2024,4,0.999242,1.000092,1.000234,0.996450,0.994136,0.996302,0.994035
724,2024-04-16,True,2024,4,0.999579,1.000046,1.000000,0.978269,0.977979,0.988865,0.984698
725,2024-04-17,True,2024,4,0.999410,1.000046,1.000047,0.991624,0.986329,0.992493,0.993601
726,2024-04-18,True,2024,4,1.002109,1.000274,1.000234,1.030114,1.019160,0.989915,0.986201
727,2024-04-19,True,2024,4,0.998232,1.000091,1.000188,0.988235,0.981200,0.992996,0.986629

## 1. Original Halloween

In [13]:
""" Weights """#KOSPI, -, NASDAQ, S&P, -, -, KOSDAQ
# odd_buy = np.array([1*1, (1/3*0), 0*1, 0*1, (1/3*0), (1/3*0), 0*1]) #11-4
# odd_hold = np.array([0.0*1, (1/3*0), 0.0*1, 0.0*1, (1/3*0), (1/3*0), 0.0*1]) #5-10

odd_buy = np.array([0*1, (1/3*0), 0*1, 0*1, (1/3*0), (0*1), 1*1]) #11-4
odd_hold = np.array([0*1, (1/3*0), 0*1, 0*1, (1/3*0), (0*1), 0*1]) #5-10


# odd_buy = np.array([0.2*0.7, (1/3*0.3), 0.3*0.7, 0.2*0.7, (1/3*0.3), (1/3*0.3), 0.3*0.7]) 
# odd_hold = np.array([0.2*0.7, (1/3*0.3), 0.3*0.7, 0.2*0.7, (1/3*0.3), (1/3*0.3), 0.0*0.7])

# odd_buy = np.array([0.0*0.7, (1/3*0.3), 0.0*0.7, 0.0*0.7, (1/3*0.3), (1/3*0.3), 1*0.7]) #11-4
# odd_hold = np.array([0.0*0.7, (1/3*0.3), 0.0*0.7, 0.0*0.7, (1/3*0.3), (1/3*0.3), 0.0*0.7]) #5-10

In [14]:
halloween = stock_data.algo_original_halloween(odd_buy, odd_hold,1000)

Print daily return 2021-04-12 00:00:00
Print daily return 2021-04-13 00:00:00
Print daily return 2021-04-14 00:00:00
Print daily return 2021-04-15 00:00:00
Print daily return 2021-04-16 00:00:00
Print daily return 2021-04-19 00:00:00
Print daily return 2021-04-20 00:00:00
Print daily return 2021-04-21 00:00:00
Print daily return 2021-04-22 00:00:00
Print daily return 2021-04-23 00:00:00
Print daily return 2021-04-26 00:00:00
Print daily return 2021-04-27 00:00:00
Print daily return 2021-04-28 00:00:00
Print daily return 2021-04-29 00:00:00
Print daily return 2021-04-30 00:00:00
Rebalance 2021-04-30 00:00:00
Print daily return 2021-05-03 00:00:00
Print daily return 2021-05-04 00:00:00
Print daily return 2021-05-06 00:00:00
Print daily return 2021-05-07 00:00:00
Print daily return 2021-05-10 00:00:00
Print daily return 2021-05-11 00:00:00
Print daily return 2021-05-12 00:00:00
Print daily return 2021-05-13 00:00:00
Print daily return 2021-05-14 00:00:00
Print daily return 2021-05-17 00:00:00
Print daily return 2021-05-18 00:00:00
Print daily return 2021-05-20 00:00:00
Print daily return 2021-05-21 00:00:00
Print daily return 2021-05-24 00:00:00
Print daily return 2021-05-25 00:00:00
Print daily return 2021-05-26 00:00:00
Print daily return 2021-05-27 00:00:00
Print daily return 2021-05-28 00:00:00
Print daily return 2021-05-31 00:00:00
Rebalance 2021-05-31 00:00:00
Print daily return 2021-06-01 00:00:00
Print daily return 2021-06-02 00:00:00
Print daily return 2021-06-03 00:00:00
Print daily return 2021-06-04 00:00:00
Print daily return 2021-06-07 00:00:00
Print daily return 2021-06-08 00:00:00
Print daily return 2021-06-09 00:00:00
Print daily return 2021-06-10 00:00:00
Print daily return 2021-06-11 00:00:00
Print daily return 2021-06-14 00:00:00
Print daily return 2021-06-15 00:00:00
Print daily return 2021-06-16 00:00:00
Print daily return 2021-06-17 00:00:00
Print daily return 2021-06-18 00:00:00
Print daily return 2021-06-21 00:00:00
Print daily return 2021-06-22 00:00:00
Print daily return 2021-06-23 00:00:00
Print daily return 2021-06-24 00:00:00
Print daily return 2021-06-25 00:00:00
Print daily return 2021-06-28 00:00:00
Print daily return 2021-06-29 00:00:00
Print daily return 2021-06-30 00:00:00
Rebalance 2021-06-30 00:00:00
Print daily return 2021-07-01 00:00:00
Print daily return 2021-07-02 00:00:00
Print daily return 2021-07-05 00:00:00
Print daily return 2021-07-06 00:00:00
Print daily return 2021-07-07 00:00:00
Print daily return 2021-07-08 00:00:00
Print daily return 2021-07-09 00:00:00
Print daily return 2021-07-12 00:00:00
Print daily return 2021-07-13 00:00:00
Print daily return 2021-07-14 00:00:00
Print daily return 2021-07-15 00:00:00
Print daily return 2021-07-16 00:00:00
Print daily return 2021-07-19 00:00:00
Print daily return 2021-07-20 00:00:00
Print daily return 2021-07-21 00:00:00
Print daily return 2021-07-22 00:00:00
Print daily return 2021-07-23 00:00:00
Print daily return 2021-07-26 00:00:00
Print daily return 2021-07-27 00:00:00
Print daily return 2021-07-28 00:00:00
Print daily return 2021-07-29 00:00:00
Print daily return 2021-07-30 00:00:00
Rebalance 2021-07-30 00:00:00
Print daily return 2021-08-02 00:00:00
Print daily return 2021-08-03 00:00:00
Print daily return 2021-08-04 00:00:00
Print daily return 2021-08-05 00:00:00
Print daily return 2021-08-06 00:00:00
Print daily return 2021-08-09 00:00:00
Print daily return 2021-08-10 00:00:00
Print daily return 2021-08-11 00:00:00
Print daily return 2021-08-12 00:00:00
Print daily return 2021-08-13 00:00:00
Print daily return 2021-08-17 00:00:00
Print daily return 2021-08-18 00:00:00
Print daily return 2021-08-19 00:00:00
Print daily return 2021-08-20 00:00:00
Print daily return 2021-08-23 00:00:00
Print daily return 2021-08-24 00:00:00
Print daily return 2021-08-25 00:00:00
Print daily return 2021-08-26 00:00:00
Print daily return 2021-08-27 00:00:00
Print daily return 2021-08-30 00:00:00
Print daily return 2021-08-31 00:00:00
Rebalance 2021-08-31 00:00:00
Print daily return 2021-09-01 00:00:00
Print daily return 2021-09-02 00:00:00
Print daily return 2021-09-03 00:00:00
Print daily return 2021-09-06 00:00:00
Print daily return 2021-09-07 00:00:00
Print daily return 2021-09-08 00:00:00
Print daily return 2021-09-09 00:00:00
Print daily return 2021-09-10 00:00:00
Print daily return 2021-09-13 00:00:00
Print daily return 2021-09-14 00:00:00
Print daily return 2021-09-15 00:00:00
Print daily return 2021-09-16 00:00:00
Print daily return 2021-09-17 00:00:00
Print daily return 2021-09-23 00:00:00
Print daily return 2021-09-24 00:00:00
Print daily return 2021-09-27 00:00:00
Print daily return 2021-09-28 00:00:00
Print daily return 2021-09-29 00:00:00
Print daily return 2021-09-30 00:00:00
Rebalance 2021-09-30 00:00:00
Print daily return 2021-10-01 00:00:00
Print daily return 2021-10-05 00:00:00
Print daily return 2021-10-06 00:00:00
Print daily return 2021-10-07 00:00:00
Print daily return 2021-10-08 00:00:00
Print daily return 2021-10-12 00:00:00
Print daily return 2021-10-13 00:00:00
Print daily return 2021-10-14 00:00:00
Print daily return 2021-10-15 00:00:00
Print daily return 2021-10-18 00:00:00
Print daily return 2021-10-19 00:00:00
Print daily return 2021-10-20 00:00:00
Print daily return 2021-10-21 00:00:00
Print daily return 2021-10-22 00:00:00
Print daily return 2021-10-25 00:00:00
Print daily return 2021-10-26 00:00:00
Print daily return 2021-10-27 00:00:00
Print daily return 2021-10-28 00:00:00
Print daily return 2021-10-29 00:00:00
Rebalance 2021-10-29 00:00:00
Print daily return 2021-11-01 00:00:00
Print daily return 2021-11-02 00:00:00
Print daily return 2021-11-03 00:00:00
Print daily return 2021-11-04 00:00:00
Print daily return 2021-11-05 00:00:00
Print daily return 2021-11-08 00:00:00
Print daily return 2021-11-09 00:00:00
Print daily return 2021-11-10 00:00:00
Print daily return 2021-11-11 00:00:00
Print daily return 2021-11-12 00:00:00
Print daily return 2021-11-15 00:00:00
Print daily return 2021-11-16 00:00:00
Print daily return 2021-11-17 00:00:00
Print daily return 2021-11-18 00:00:00
Print daily return 2021-11-19 00:00:00
Print daily return 2021-11-22 00:00:00
Print daily return 2021-11-23 00:00:00
Print daily return 2021-11-24 00:00:00
Print daily return 2021-11-25 00:00:00
Print daily return 2021-11-26 00:00:00
Print daily return 2021-11-29 00:00:00
Print daily return 2021-11-30 00:00:00
Rebalance 2021-11-30 00:00:00
Print daily return 2021-12-01 00:00:00
Print daily return 2021-12-02 00:00:00
Print daily return 2021-12-03 00:00:00
Print daily return 2021-12-06 00:00:00
Print daily return 2021-12-07 00:00:00
Print daily return 2021-12-08 00:00:00
Print daily return 2021-12-09 00:00:00
Print daily return 2021-12-10 00:00:00
Print daily return 2021-12-13 00:00:00
Print daily return 2021-12-14 00:00:00
Print daily return 2021-12-15 00:00:00
Print daily return 2021-12-16 00:00:00
Print daily return 2021-12-17 00:00:00
Print daily return 2021-12-20 00:00:00
Print daily return 2021-12-21 00:00:00
Print daily return 2021-12-22 00:00:00
Print daily return 2021-12-23 00:00:00
Print daily return 2021-12-24 00:00:00
Print daily return 2021-12-27 00:00:00
Print daily return 2021-12-28 00:00:00
Print daily return 2021-12-29 00:00:00
Print daily return 2021-12-30 00:00:00
Rebalance 2021-12-30 00:00:00
Print daily return 2022-01-04 00:00:00
Print daily return 2022-01-05 00:00:00
Print daily return 2022-01-06 00:00:00
Print daily return 2022-01-07 00:00:00
Print daily return 2022-01-10 00:00:00
Print daily return 2022-01-11 00:00:00
Print daily return 2022-01-12 00:00:00
Print daily return 2022-01-13 00:00:00
Print daily return 2022-01-14 00:00:00
Print daily return 2022-01-17 00:00:00
Print daily return 2022-01-18 00:00:00
Print daily return 2022-01-19 00:00:00
Print daily return 2022-01-20 00:00:00
Print daily return 2022-01-21 00:00:00
Print daily return 2022-01-24 00:00:00
Print daily return 2022-01-25 00:00:00
Print daily return 2022-01-26 00:00:00
Print daily return 2022-01-27 00:00:00
Print daily return 2022-01-28 00:00:00
Rebalance 2022-01-28 00:00:00
Print daily return 2022-02-03 00:00:00
Print daily return 2022-02-04 00:00:00
Print daily return 2022-02-07 00:00:00
Print daily return 2022-02-08 00:00:00
Print daily return 2022-02-09 00:00:00
Print daily return 2022-02-10 00:00:00
Print daily return 2022-02-11 00:00:00
Print daily return 2022-02-15 00:00:00
Print daily return 2022-02-16 00:00:00
Print daily return 2022-02-17 00:00:00
Print daily return 2022-02-18 00:00:00
Print daily return 2022-02-21 00:00:00
Print daily return 2022-02-22 00:00:00
Print daily return 2022-02-23 00:00:00
Print daily return 2022-02-24 00:00:00
Print daily return 2022-02-25 00:00:00
Print daily return 2022-02-28 00:00:00
Rebalance 2022-02-28 00:00:00
Print daily return 2022-03-02 00:00:00
Print daily return 2022-03-03 00:00:00
Print daily return 2022-03-04 00:00:00
Print daily return 2022-03-07 00:00:00
Print daily return 2022-03-08 00:00:00
Print daily return 2022-03-10 00:00:00
Print daily return 2022-03-11 00:00:00
Print daily return 2022-03-14 00:00:00
Print daily return 2022-03-15 00:00:00
Print daily return 2022-03-16 00:00:00
Print daily return 2022-03-17 00:00:00
Print daily return 2022-03-18 00:00:00
Print daily return 2022-03-21 00:00:00
Print daily return 2022-03-22 00:00:00
Print daily return 2022-03-23 00:00:00
Print daily return 2022-03-24 00:00:00
Print daily return 2022-03-25 00:00:00
Print daily return 2022-03-28 00:00:00
Print daily return 2022-03-29 00:00:00
Print daily return 2022-03-30 00:00:00
Print daily return 2022-03-31 00:00:00
Rebalance 2022-03-31 00:00:00
Print daily return 2022-04-01 00:00:00
Print daily return 2022-04-04 00:00:00
Print daily return 2022-04-05 00:00:00
Print daily return 2022-04-06 00:00:00
Print daily return 2022-04-07 00:00:00
Print daily return 2022-04-08 00:00:00
Print daily return 2022-04-11 00:00:00
Print daily return 2022-04-12 00:00:00
Print daily return 2022-04-13 00:00:00
Print daily return 2022-04-14 00:00:00
Print daily return 2022-04-15 00:00:00
Print daily return 2022-04-18 00:00:00
Print daily return 2022-04-19 00:00:00
Print daily return 2022-04-20 00:00:00
Print daily return 2022-04-21 00:00:00
Print daily return 2022-04-22 00:00:00
Print daily return 2022-04-25 00:00:00
Print daily return 2022-04-26 00:00:00
Print daily return 2022-04-27 00:00:00
Print daily return 2022-04-28 00:00:00
Print daily return 2022-04-29 00:00:00
Rebalance 2022-04-29 00:00:00
Print daily return 2022-05-03 00:00:00
Print daily return 2022-05-04 00:00:00
Print daily return 2022-05-06 00:00:00
Print daily return 2022-05-10 00:00:00
Print daily return 2022-05-11 00:00:00
Print daily return 2022-05-12 00:00:00
Print daily return 2022-05-13 00:00:00
Print daily return 2022-05-16 00:00:00
Print daily return 2022-05-17 00:00:00
Print daily return 2022-05-18 00:00:00
Print daily return 2022-05-19 00:00:00
Print daily return 2022-05-20 00:00:00
Print daily return 2022-05-23 00:00:00
Print daily return 2022-05-24 00:00:00
Print daily return 2022-05-25 00:00:00
Print daily return 2022-05-26 00:00:00
Print daily return 2022-05-27 00:00:00
Print daily return 2022-05-30 00:00:00
Print daily return 2022-05-31 00:00:00
Rebalance 2022-05-31 00:00:00
Print daily return 2022-06-02 00:00:00
Print daily return 2022-06-03 00:00:00
Print daily return 2022-06-07 00:00:00
Print daily return 2022-06-08 00:00:00
Print daily return 2022-06-09 00:00:00
Print daily return 2022-06-10 00:00:00
Print daily return 2022-06-13 00:00:00
Print daily return 2022-06-14 00:00:00
Print daily return 2022-06-15 00:00:00
Print daily return 2022-06-16 00:00:00
Print daily return 2022-06-17 00:00:00
Print daily return 2022-06-20 00:00:00
Print daily return 2022-06-21 00:00:00
Print daily return 2022-06-22 00:00:00
Print daily return 2022-06-23 00:00:00
Print daily return 2022-06-24 00:00:00
Print daily return 2022-06-27 00:00:00
Print daily return 2022-06-28 00:00:00
Print daily return 2022-06-29 00:00:00
Print daily return 2022-06-30 00:00:00
Rebalance 2022-06-30 00:00:00
Print daily return 2022-07-01 00:00:00
Print daily return 2022-07-04 00:00:00
Print daily return 2022-07-05 00:00:00
Print daily return 2022-07-06 00:00:00
Print daily return 2022-07-07 00:00:00
Print daily return 2022-07-08 00:00:00
Print daily return 2022-07-11 00:00:00
Print daily return 2022-07-12 00:00:00
Print daily return 2022-07-13 00:00:00
Print daily return 2022-07-14 00:00:00
Print daily return 2022-07-15 00:00:00
Print daily return 2022-07-18 00:00:00
Print daily return 2022-07-19 00:00:00
Print daily return 2022-07-20 00:00:00
Print daily return 2022-07-21 00:00:00
Print daily return 2022-07-22 00:00:00
Print daily return 2022-07-25 00:00:00
Print daily return 2022-07-26 00:00:00
Print daily return 2022-07-27 00:00:00
Print daily return 2022-07-28 00:00:00
Print daily return 2022-07-29 00:00:00
Rebalance 2022-07-29 00:00:00
Print daily return 2022-08-01 00:00:00
Print daily return 2022-08-02 00:00:00
Print daily return 2022-08-03 00:00:00
Print daily return 2022-08-04 00:00:00
Print daily return 2022-08-05 00:00:00
Print daily return 2022-08-08 00:00:00
Print daily return 2022-08-09 00:00:00
Print daily return 2022-08-10 00:00:00
Print daily return 2022-08-11 00:00:00
Print daily return 2022-08-12 00:00:00
Print daily return 2022-08-16 00:00:00
Print daily return 2022-08-17 00:00:00
Print daily return 2022-08-18 00:00:00
Print daily return 2022-08-19 00:00:00
Print daily return 2022-08-22 00:00:00
Print daily return 2022-08-23 00:00:00
Print daily return 2022-08-24 00:00:00
Print daily return 2022-08-25 00:00:00
Print daily return 2022-08-26 00:00:00
Print daily return 2022-08-29 00:00:00
Print daily return 2022-08-30 00:00:00
Print daily return 2022-08-31 00:00:00
Rebalance 2022-08-31 00:00:00
Print daily return 2022-09-01 00:00:00
Print daily return 2022-09-02 00:00:00
Print daily return 2022-09-05 00:00:00
Print daily return 2022-09-06 00:00:00
Print daily return 2022-09-07 00:00:00
Print daily return 2022-09-08 00:00:00
Print daily return 2022-09-13 00:00:00
Print daily return 2022-09-14 00:00:00
Print daily return 2022-09-15 00:00:00
Print daily return 2022-09-16 00:00:00
Print daily return 2022-09-19 00:00:00
Print daily return 2022-09-20 00:00:00
Print daily return 2022-09-21 00:00:00
Print daily return 2022-09-22 00:00:00
Print daily return 2022-09-23 00:00:00
Print daily return 2022-09-26 00:00:00
Print daily return 2022-09-27 00:00:00
Print daily return 2022-09-28 00:00:00
Print daily return 2022-09-29 00:00:00
Print daily return 2022-09-30 00:00:00
Rebalance 2022-09-30 00:00:00
Print daily return 2022-10-04 00:00:00
Print daily return 2022-10-05 00:00:00
Print daily return 2022-10-06 00:00:00
Print daily return 2022-10-07 00:00:00
Print daily return 2022-10-11 00:00:00
Print daily return 2022-10-12 00:00:00
Print daily return 2022-10-13 00:00:00
Print daily return 2022-10-14 00:00:00
Print daily return 2022-10-17 00:00:00
Print daily return 2022-10-18 00:00:00
Print daily return 2022-10-19 00:00:00
Print daily return 2022-10-20 00:00:00
Print daily return 2022-10-21 00:00:00
Print daily return 2022-10-24 00:00:00
Print daily return 2022-10-25 00:00:00
Print daily return 2022-10-26 00:00:00
Print daily return 2022-10-27 00:00:00
Print daily return 2022-10-28 00:00:00
Print daily return 2022-10-31 00:00:00
Rebalance 2022-10-31 00:00:00
Print daily return 2022-11-01 00:00:00
Print daily return 2022-11-02 00:00:00
Print daily return 2022-11-03 00:00:00
Print daily return 2022-11-04 00:00:00
Print daily return 2022-11-07 00:00:00
Print daily return 2022-11-08 00:00:00
Print daily return 2022-11-09 00:00:00
Print daily return 2022-11-10 00:00:00
Print daily return 2022-11-11 00:00:00
Print daily return 2022-11-14 00:00:00
Print daily return 2022-11-15 00:00:00
Print daily return 2022-11-16 00:00:00
Print daily return 2022-11-17 00:00:00
Print daily return 2022-11-18 00:00:00
Print daily return 2022-11-21 00:00:00
Print daily return 2022-11-22 00:00:00
Print daily return 2022-11-23 00:00:00
Print daily return 2022-11-24 00:00:00
Print daily return 2022-11-25 00:00:00
Print daily return 2022-11-28 00:00:00
Print daily return 2022-11-29 00:00:00
Print daily return 2022-11-30 00:00:00
Rebalance 2022-11-30 00:00:00
Print daily return 2022-12-01 00:00:00
Print daily return 2022-12-02 00:00:00
Print daily return 2022-12-05 00:00:00
Print daily return 2022-12-06 00:00:00
Print daily return 2022-12-07 00:00:00
Print daily return 2022-12-08 00:00:00
Print daily return 2022-12-09 00:00:00
Print daily return 2022-12-12 00:00:00
Print daily return 2022-12-13 00:00:00
Print daily return 2022-12-14 00:00:00
Print daily return 2022-12-15 00:00:00
Print daily return 2022-12-16 00:00:00
Print daily return 2022-12-19 00:00:00
Print daily return 2022-12-20 00:00:00
Print daily return 2022-12-21 00:00:00
Print daily return 2022-12-22 00:00:00
Print daily return 2022-12-23 00:00:00
Print daily return 2022-12-26 00:00:00
Print daily return 2022-12-27 00:00:00
Print daily return 2022-12-28 00:00:00
Print daily return 2022-12-29 00:00:00
Rebalance 2022-12-29 00:00:00
Print daily return 2023-01-02 00:00:00
Print daily return 2023-01-03 00:00:00
Print daily return 2023-01-04 00:00:00
Print daily return 2023-01-05 00:00:00
Print daily return 2023-01-06 00:00:00
Print daily return 2023-01-09 00:00:00
Print daily return 2023-01-10 00:00:00
Print daily return 2023-01-11 00:00:00
Print daily return 2023-01-12 00:00:00
Print daily return 2023-01-13 00:00:00
Print daily return 2023-01-16 00:00:00
Print daily return 2023-01-17 00:00:00
Print daily return 2023-01-18 00:00:00
Print daily return 2023-01-19 00:00:00
Print daily return 2023-01-20 00:00:00
Print daily return 2023-01-25 00:00:00
Print daily return 2023-01-26 00:00:00
Print daily return 2023-01-27 00:00:00
Print daily return 2023-01-30 00:00:00
Print daily return 2023-01-31 00:00:00
Rebalance 2023-01-31 00:00:00
Print daily return 2023-02-01 00:00:00
Print daily return 2023-02-02 00:00:00
Print daily return 2023-02-03 00:00:00
Print daily return 2023-02-06 00:00:00
Print daily return 2023-02-07 00:00:00
Print daily return 2023-02-08 00:00:00
Print daily return 2023-02-09 00:00:00
Print daily return 2023-02-10 00:00:00
Print daily return 2023-02-13 00:00:00
Print daily return 2023-02-14 00:00:00
Print daily return 2023-02-15 00:00:00
Print daily return 2023-02-16 00:00:00
Print daily return 2023-02-17 00:00:00
Print daily return 2023-02-20 00:00:00
Print daily return 2023-02-21 00:00:00
Print daily return 2023-02-22 00:00:00
Print daily return 2023-02-23 00:00:00
Print daily return 2023-02-24 00:00:00
Print daily return 2023-02-27 00:00:00
Print daily return 2023-02-28 00:00:00
Rebalance 2023-02-28 00:00:00
Print daily return 2023-03-02 00:00:00
Print daily return 2023-03-03 00:00:00
Print daily return 2023-03-06 00:00:00
Print daily return 2023-03-07 00:00:00
Print daily return 2023-03-08 00:00:00
Print daily return 2023-03-09 00:00:00
Print daily return 2023-03-10 00:00:00
Print daily return 2023-03-13 00:00:00
Print daily return 2023-03-14 00:00:00
Print daily return 2023-03-15 00:00:00
Print daily return 2023-03-16 00:00:00
Print daily return 2023-03-17 00:00:00
Print daily return 2023-03-20 00:00:00
Print daily return 2023-03-21 00:00:00
Print daily return 2023-03-22 00:00:00
Print daily return 2023-03-23 00:00:00
Print daily return 2023-03-24 00:00:00
Print daily return 2023-03-27 00:00:00
Print daily return 2023-03-28 00:00:00
Print daily return 2023-03-29 00:00:00
Print daily return 2023-03-30 00:00:00
Print daily return 2023-03-31 00:00:00
Rebalance 2023-03-31 00:00:00
Print daily return 2023-04-03 00:00:00
Print daily return 2023-04-04 00:00:00
Print daily return 2023-04-05 00:00:00
Print daily return 2023-04-06 00:00:00
Print daily return 2023-04-07 00:00:00
Print daily return 2023-04-10 00:00:00
Print daily return 2023-04-11 00:00:00
Print daily return 2023-04-12 00:00:00
Print daily return 2023-04-13 00:00:00

In [15]:
stock_data.results()[0]

Ticker,114260.KS mkt val,153130.KS mkt val,157450.KS mkt val,229200.KS mkt val,278530.KS mkt val,379800.KS mkt val,379810.KS mkt val,cash_rem,port_val,strat
Date,,,,,,,,,,
2021-04-09,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,0.0,1000.000000,aggressive
2021-04-12,0.0,0.0,0.0,0.0,0.0,0.0,1007.403751,0.0,1007.403751,aggressive
2021-04-13,0.0,0.0,0.0,0.0,0.0,0.0,1007.897335,0.0,1007.897335,aggressive
2021-04-14,0.0,0.0,0.0,0.0,0.0,0.0,1012.339585,0.0,1012.339585,aggressive
2021-04-15,0.0,0.0,0.0,0.0,0.0,0.0,1003.948667,0.0,1003.948667,aggressive
...,...,...,...,...,...,...,...,...,...,...
2024-04-15,0.0,0.0,0.0,0.0,0.0,0.0,1296.070148,0.0,1296.070148,aggressive
2024-04-16,0.0,0.0,0.0,0.0,0.0,0.0,1276.238291,0.0,1276.238291,aggressive
2024-04-17,0.0,0.0,0.0,0.0,0.0,0.0,1268.072233,0.0,1268.072233,aggressive
2024-04-18,0.0,0.0,0.0,0.0,0.0,0.0,1250.573536,0.0,1250.573536,aggressive
2024-04-19,0.0,0.0,0.0,0.0,0.0,0.0,1233.852559,0.0,1233.852559,aggressive

In [242]:
stock_data.results()[1]

Ticker,069500.KS mkt val,114260.KS mkt val,143850.KS mkt val,153130.KS mkt val,157450.KS mkt val,379810.KS mkt val,448300.KS mkt val,cash_rem,port_val,strat
Date,,,,,,,,,,
2022-11-25,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,aggressive
2022-11-28,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,aggressive
2022-11-29,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,aggressive
2022-11-30,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,aggressive
2022-12-01,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,aggressive
...,...,...,...,...,...,...,...,...,...,...
2024-04-12,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,aggressive
2024-04-15,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,aggressive
2024-04-16,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,aggressive
2024-04-17,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,aggressive
2024-04-18,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,aggressive

In [243]:
# 1. 일별수익률추이
daily_ret = stock_data.daily_ret()

c:\Users\kango\Desktop\cqralgo\cqrsite\portfolio\utilis\MP_gen.py:432: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  report['누적수익률'] = self.result['port_val']/self.result['port_val'][0]-1

In [244]:
daily_ret

Ticker,069500.KS mkt val,114260.KS mkt val,143850.KS mkt val,153130.KS mkt val,157450.KS mkt val,379810.KS mkt val,448300.KS mkt val,cash_rem,port_val,일별수익률,누적수익률
Date,,,,,,,,,,,
2022-11-25,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,0.0,1000.000000,0.000000,0.000000
2022-11-28,0.0,0.0,0.0,0.0,0.0,0.0,982.017982,0.0,982.017982,-0.017982,-0.017982
2022-11-29,0.0,0.0,0.0,0.0,0.0,0.0,982.517483,0.0,982.517483,0.000509,-0.017483
2022-11-30,0.0,0.0,0.0,0.0,0.0,0.0,968.531469,0.0,968.531469,-0.014235,-0.031469
2022-12-01,0.0,0.0,0.0,0.0,0.0,0.0,1012.987013,0.0,1012.987013,0.045900,0.012987
...,...,...,...,...,...,...,...,...,...,...,...
2024-04-12,0.0,0.0,0.0,0.0,0.0,0.0,1399.407387,0.0,1399.407387,0.015234,0.399407
2024-04-15,0.0,0.0,0.0,0.0,0.0,0.0,1383.075523,0.0,1383.075523,-0.011671,0.383076
2024-04-16,0.0,0.0,0.0,0.0,0.0,0.0,1350.411796,0.0,1350.411796,-0.023617,0.350412
2024-04-17,0.0,0.0,0.0,0.0,0.0,0.0,1349.945172,0.0,1349.945172,-0.000346,0.349945
2024-04-18,0.0,0.0,0.0,0.0,0.0,0.0,1344.345676,0.0,1344.345676,-0.004148,0.344346

In [162]:
#daily_ret.loc['2023-06-01':'2023-08-01']
#filtered_df = df[(df['Date'] >= '2023-04-01') & (df['Date'] <='2023-06-01')]

____

## 수익률 테이블

In [119]:
import pandas as pd

In [120]:
daily_ret.iloc[-1,:]

Ticker
114260.KS mkt val       0.000000
133690.KS mkt val       0.000000
143850.KS mkt val       0.000000
153130.KS mkt val       0.000000
157450.KS mkt val       0.000000
226490.KS mkt val       0.000000
278530.KS mkt val    1754.249878
cash_rem                0.000000
port_val             1754.249878
일별수익률                  -0.013671
누적수익률                   0.754250
Name: 2024-04-17 00:00:00, dtype: float64

In [121]:
refresh = pd.DataFrame(daily_ret.iloc[-1,:]).T

In [122]:
refresh['일별수익률']

2024-04-17   -0.013671
Name: 일별수익률, dtype: float64

In [123]:
# Method 2: 
daily_ret.iloc[-1,:]['일별수익률']

-0.013671089666264624

In [124]:
daily_ret.iloc[-2,:]['일별수익률']

-0.022021234762092057

In [204]:
daily_ret

Ticker,069500.KS mkt val,114260.KS mkt val,143850.KS mkt val,153130.KS mkt val,157450.KS mkt val,379800.KS mkt val,448290.KS mkt val,cash_rem,port_val,일별수익률,누적수익률
Date,,,,,,,,,,,
2022-11-25,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,0.0,1000.000000,0.000000,0.000000
2022-11-28,0.0,0.0,0.0,0.0,0.0,0.0,991.004498,0.0,991.004498,-0.008996,-0.008996
2022-11-29,0.0,0.0,0.0,0.0,0.0,0.0,985.507246,0.0,985.507246,-0.005547,-0.014493
2022-11-30,0.0,0.0,0.0,0.0,0.0,0.0,978.510745,0.0,978.510745,-0.007099,-0.021489
2022-12-01,0.0,0.0,0.0,0.0,0.0,0.0,1009.995002,0.0,1009.995002,0.032176,0.009995
...,...,...,...,...,...,...,...,...,...,...,...
2024-04-11,0.0,0.0,0.0,0.0,0.0,0.0,1257.440697,0.0,1257.440697,-0.008706,0.257441
2024-04-12,0.0,0.0,0.0,0.0,0.0,0.0,1266.978171,0.0,1266.978171,0.007585,0.266978
2024-04-15,0.0,0.0,0.0,0.0,0.0,0.0,1254.428863,0.0,1254.428863,-0.009905,0.254429
2024-04-16,0.0,0.0,0.0,0.0,0.0,0.0,1231.840108,0.0,1231.840108,-0.018007,0.231840
2024-04-17,0.0,0.0,0.0,0.0,0.0,0.0,1230.334191,0.0,1230.334191,-0.001222,0.230334

---

In [103]:
# 2. 월별수익률추이
monthly_ret = stock_data.monthly_ret()
monthly_ret

c:\Users\kango\Desktop\cqralgo\cqrsite\portfolio\utilis\MP_gen.py:445: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  self.report2['누적수익률'] = self.report2['port_val']/self.report2['port_val'][0]-1

Ticker,114260.KS mkt val,133690.KS mkt val,143850.KS mkt val,153130.KS mkt val,157450.KS mkt val,226490.KS mkt val,278530.KS mkt val,cash_rem,port_val,월별수익률,누적수익률
Date,,,,,,,,,,,
2017-11-21,0.0,0.0,0.0,0.0,0.0,1000.000000,0.0,0.0,1000.000000,0.000000,0.000000
2017-11-30,0.0,0.0,0.0,0.0,0.0,978.346457,0.0,0.0,978.346457,-0.021654,-0.021654
2017-12-28,0.0,0.0,0.0,0.0,0.0,987.401575,0.0,0.0,987.401575,0.009256,-0.012598
2018-01-31,0.0,0.0,0.0,0.0,0.0,1027.755906,0.0,0.0,1027.755906,0.040869,0.027756
2018-02-28,0.0,0.0,0.0,0.0,0.0,972.047244,0.0,0.0,972.047244,-0.054204,-0.027953
...,...,...,...,...,...,...,...,...,...,...,...
2023-12-28,0.0,0.0,0.0,0.0,0.0,1612.160526,0.0,0.0,1612.160526,0.051668,0.612161
2024-01-31,0.0,0.0,0.0,0.0,0.0,1519.361552,0.0,0.0,1519.361552,-0.057562,0.519362
2024-02-29,0.0,0.0,0.0,0.0,0.0,1615.115908,0.0,0.0,1615.115908,0.063023,0.615116
2024-03-29,0.0,0.0,0.0,0.0,0.0,1683.680755,0.0,0.0,1683.680755,0.042452,0.683681
2024-04-17,0.0,0.0,0.0,0.0,0.0,1587.630861,0.0,0.0,1587.630861,-0.057048,0.587631

In [104]:
daily_ret.iloc[-10:,:]

Ticker,114260.KS mkt val,133690.KS mkt val,143850.KS mkt val,153130.KS mkt val,157450.KS mkt val,226490.KS mkt val,278530.KS mkt val,cash_rem,port_val,일별수익률,누적수익률
Date,,,,,,,,,,,
2024-04-03,0.0,0.0,0.0,0.0,0.0,1660.628781,0.0,0.0,1660.628781,-0.016109,0.660629
2024-04-04,0.0,0.0,0.0,0.0,0.0,1681.907526,0.0,0.0,1681.907526,0.012814,0.681908
2024-04-05,0.0,0.0,0.0,0.0,0.0,1661.810933,0.0,0.0,1661.810933,-0.011949,0.661811
2024-04-08,0.0,0.0,0.0,0.0,0.0,1667.130619,0.0,0.0,1667.130619,0.003201,0.667131
2024-04-09,0.0,0.0,0.0,0.0,0.0,1657.377861,0.0,0.0,1657.377861,-0.005850,0.657378
2024-04-11,0.0,0.0,0.0,0.0,0.0,1660.628781,0.0,0.0,1660.628781,0.001961,0.660629
2024-04-12,0.0,0.0,0.0,0.0,0.0,1645.556336,0.0,0.0,1645.556336,-0.009076,0.645556
2024-04-15,0.0,0.0,0.0,0.0,0.0,1634.621425,0.0,0.0,1634.621425,-0.006645,0.634621
2024-04-16,0.0,0.0,0.0,0.0,0.0,1599.156848,0.0,0.0,1599.156848,-0.021696,0.599157
2024-04-17,0.0,0.0,0.0,0.0,0.0,1587.630861,0.0,0.0,1587.630861,-0.007208,0.587631

In [105]:
# 3. 자산별투자비중추이
port_weights = stock_data.portfolio_by_asset_class()

c:\Users\kango\Desktop\cqralgo\cqrsite\portfolio\utilis\MP_gen.py:465: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  self.X = asset_perc.applymap(self.to_percentage)

In [30]:
port_weights[0]

1.0

In [31]:
port_weights[1]

                  5      3      2      1        0    total   위험자산비중  rebal
Date
2015-10-01    0.00%  0.00%  0.00%  0.00%  100.00%  100.00%    0.00%   True
2015-10-02    0.00%  0.00%  0.00%  0.00%  100.00%  100.00%    0.00%  False
2015-10-05    0.00%  0.00%  0.00%  0.00%  100.00%  100.00%    0.00%  False
2015-10-06    0.00%  0.00%  0.00%  0.00%  100.00%  100.00%    0.00%  False
2015-10-07    0.00%  0.00%  0.00%  0.00%  100.00%  100.00%    0.00%  False
...             ...    ...    ...    ...      ...      ...      ...    ...
2024-04-11  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%  False
2024-04-12  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%  False
2024-04-15  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%  False
2024-04-16  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%  False
2024-04-17  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%  False

[2073 rows x 8 columns]

In [32]:
y = port_weights[1]

In [33]:
y.iloc[:,:5].max()

5    100.00%
3      0.00%
2      0.00%
1      0.00%
0    100.00%
dtype: object

In [34]:
# 4. 종목별투자비중추이
stock_data.portfolio_by_ind_assets()

c:\Users\kango\Desktop\cqralgo\cqrsite\portfolio\utilis\MP_gen.py:471: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  self.X1 = self.res_pct.iloc[:,:-1].applymap(self.to_percentage)

Ticker,069500.KS mkt val,114260.KS mkt val,133690.KS mkt val,143850.KS mkt val,153130.KS mkt val,157450.KS mkt val,229200.KS mkt val,cash_rem,port_val
Date,,,,,,,,,
2015-10-01,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,100.00%
2015-10-02,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,100.00%
2015-10-05,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,100.00%
2015-10-06,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,100.00%
2015-10-07,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,100.00%
...,...,...,...,...,...,...,...,...,...
2024-04-11,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,0.00%,100.00%
2024-04-12,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,0.00%,100.00%
2024-04-15,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,0.00%,100.00%
2024-04-16,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,0.00%,100.00%
2024-04-17,0.00%,0.00%,0.00%,0.00%,0.00%,0.00%,100.00%,0.00%,100.00%

In [35]:
# 5. 리밸런싱발생내역
stock_data.rebalance_history()

                  5      3      2      1        0    total   위험자산비중  rebal
Date
2015-10-01    0.00%  0.00%  0.00%  0.00%  100.00%  100.00%    0.00%   True
2015-10-30  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True
2015-11-30  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True
2015-12-30  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True
2016-01-29  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True
...             ...    ...    ...    ...      ...      ...      ...    ...
2023-11-30  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True
2023-12-28  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True
2024-01-31  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True
2024-02-29  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True
2024-03-29  100.00%  0.00%  0.00%  0.00%    0.00%  100.00%  100.00%   True

[103 rows x 8 columns]

## 2. Adjusted Halloween

In [234]:
""" Weights """
#KOSPI, -, NASDAQ, S&P, -, -, KOSDAQ
odd_stock_w = 1
odd_bond_w = 0
even_stock_w = 1
even_bond_w = 0
even_passive_stock_w = 1
even_passive_bond_w = 0

In [235]:
odd_buy = np.array([0*odd_stock_w, (1/3*odd_bond_w), 0.0*odd_stock_w, 0.0*odd_stock_w, (1/3*odd_bond_w), (1/3*odd_bond_w), 0*odd_stock_w])          # Even 11 - Odd 4. Active
odd_hold = np.array([0.0*odd_stock_w, (1/3*odd_bond_w), 0*odd_stock_w, 0*odd_stock_w, (1/3*odd_bond_w), (1/3*odd_bond_w), 0.0*odd_stock_w])         # Odd 5 - Odd 10. 
even_buy = np.array([0*even_stock_w, (1/3*even_bond_w), 0.0*even_stock_w, 0.0*even_stock_w, (1/3*even_bond_w), (1/3*even_bond_w), 0*even_stock_w])  # Odd 11 - Even 4. NOTE: Here, we shift Kospi weight to Nasdaq instead of S&P 500 to be consistent with our logic that 11-4 should be more aggressive than 5-10. 
even_hold = np.array([0.0*even_passive_stock_w, (1/3*even_passive_bond_w), 0*even_passive_stock_w, 0*even_passive_stock_w, (1/3*even_passive_bond_w), (1/3*even_passive_bond_w), 1*even_passive_stock_w])  # Even 5 - Even 10

In [568]:
# odd_buy = np.array([0.4*odd_stock_w, (1/3*odd_bond_w), 0.0*odd_stock_w, 0.0*odd_stock_w, (1/3*odd_bond_w), (1/3*odd_bond_w), 0.6*odd_stock_w])          # Even 11 - Odd 4. Active
# odd_hold = np.array([0.0*odd_stock_w, (1/3*odd_bond_w), 0.5*odd_stock_w, 0.5*odd_stock_w, (1/3*odd_bond_w), (1/3*odd_bond_w), 0.0*odd_stock_w])         # Odd 5 - Odd 10. 
# even_buy = np.array([0.5*even_stock_w, (1/3*even_bond_w), 0.0*even_stock_w, 0.0*even_stock_w, (1/3*even_bond_w), (1/3*even_bond_w), 0.5*even_stock_w])  # Odd 11 - Even 4. NOTE: Here, we shift Kospi weight to Nasdaq instead of S&P 500 to be consistent with our logic that 11-4 should be more aggressive than 5-10. 
# even_hold = np.array([0.0*even_passive_stock_w, (1/3*even_passive_bond_w), 0.5*even_passive_stock_w, 0.5*even_passive_stock_w, (1/3*even_passive_bond_w), (1/3*even_passive_bond_w), 0.0*even_passive_stock_w])  # Even 5 - Even 10

In [236]:
halloween_adj = stock_data.algo1(1000,odd_buy,odd_hold,even_buy,even_hold)

In [237]:
stock_data.results()[0]

Ticker,069500.KS mkt val,114260.KS mkt val,133690.KS mkt val,143850.KS mkt val,153130.KS mkt val,157450.KS mkt val,229200.KS mkt val,cash_rem,port_val,strat
Date,,,,,,,,,,
2015-10-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,odd passive
2015-10-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,odd passive
2015-10-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,odd passive
2015-10-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,odd passive
2015-10-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,odd passive
...,...,...,...,...,...,...,...,...,...,...
2024-03-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,even aggressive
2024-03-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,even aggressive
2024-03-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,even aggressive
2024-03-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,even aggressive
2024-03-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,even aggressive

In [241]:
# 1. 일별수익률추이
daily_ret_dad = stock_data.daily_ret()

c:\Users\kango\Desktop\cqralgo\cqrsite\portfolio\utilis\class_trial.py:432: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  report['누적수익률'] = self.result['port_val']/self.result['port_val'][0]-1

In [242]:
daily_ret_dad

Ticker,069500.KS mkt val,114260.KS mkt val,133690.KS mkt val,143850.KS mkt val,153130.KS mkt val,157450.KS mkt val,229200.KS mkt val,cash_rem,port_val,일별수익률,누적수익률
Date,,,,,,,,,,,
2015-10-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.000000
2015-10-02,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.000000
2015-10-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.000000
2015-10-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.000000
2015-10-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1000.000000,1000.000000,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...
2024-03-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,0.0,-0.343831
2024-03-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,0.0,-0.343831
2024-03-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,0.0,-0.343831
2024-03-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,0.0,-0.343831
2024-03-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,656.169108,656.169108,0.0,-0.343831

## 수익률 테이블

## Report

---

In [245]:
%matplotlib inline
import quantstats as qs
import webbrowser

In [247]:
# extend pandas functionality with metrics, etc.
qs.extend_pandas()

In [248]:
qs.reports.html(daily_ret['일별수익률']        # <- Input 일별수익률
                , benchmark="^IXIC", output=r'c:\kannie\nasdaq_TR_H.html', title='nasdaq_TR_H')
#html_file_path = r"C:\Users\ewp\Desktop\mySite\cra_backtest\Halloween_kospi.html"

# Open the HTML file in the default web browser
#webbrowser.open(html_file_path)

c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:555: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  .resample("A")
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:557: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  .resample("A")
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:433: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  .resample(resample)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:435: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  .resample(resample)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Monthly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1021: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  port["Quarterly"] = port["Daily"].resample("Q").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1022: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Quarterly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1024: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  port["Yearly"] = port["Daily"].resample("A").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1025: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Yearly"].ffill(inplace=True)

In [41]:
qs.reports.html(daily_ret_dad['일별수익률']        # <- Input 일별수익률
                , benchmark="^IXIC", output=r'c:\kannie\h2.html', title='AdjHalloween_all')

NameError: name 'daily_ret_dad' is not defined

In [42]:
import yfinance as yf
import quantstats as qs

In [244]:
df_KQ11 = yf.download('^KQ11', start='2015-10-1', end='2024-02-26')

c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

In [496]:
df_KQ11 = yf.download('^KQ11', start='2015-10-1', end='2024-02-26')
df_KQ11 = df_KQ11['Adj Close'].pct_change().dropna()
qs.reports.html(df_KQ11 , output=r'c:\kannie\kosdaq2.html', title='kosdaq')

c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Monthly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1021: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  port["Quarterly"] = port["Daily"].resample("Q").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1022: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Quarterly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1024: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  port["Yearly"] = port["Daily"].resample("A").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1025: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Yearly"].ffill(inplace=True)

In [497]:
df_KS11 = yf.download('^KS11', start='2015-10-1', end='2024-02-26')
df_KS11 = df_KS11['Adj Close'].pct_change().dropna()
qs.reports.html(df_KS11 , output=r'c:\kannie\kospi2.html', title='kospi')

c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Monthly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1021: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  port["Quarterly"] = port["Daily"].resample("Q").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1022: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Quarterly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1024: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  port["Yearly"] = port["Daily"].resample("A").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1025: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Yearly"].ffill(inplace=True)

In [498]:
# df_KQ11 = yf.download('^KQ11', start='22012-05-16', end='2024-02-25')
# df_KS11 = yf.download('^KS11', start='2012-05-16', end='2024-02-25')
# df_DJI = yf.download('^DJI',start='2012-05-16', end='2024-02-25')
df_GSPC = yf.download('^GSPC',start='2015-10-1', end='2024-02-26')
df_IXIC = yf.download('^IXIC',start='2015-10-1', end='2024-02-26')
#Kosdaq Composite Index (^KQ11)
#KOSPI Composite Index (^KS11)
# Dow Jones Industrial Average (^DJI)
# S&P 500 (^GSPC)
# NASDAQ Composite (^IXIC)

c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\yfinance\utils.py:775: FutureWarning: The 'unit' keyword in TimedeltaIndex construction is deprecated and will be removed in a future version. Use pd.to_timedelta instead.
  df.index += _pd.TimedeltaIndex(dst_error_hours, 'h')
[*********************100%%**********************]  1 of 1 completed

In [99]:
df

Ticker,Date,end of month,year,month,069500.KS,114260.KS,133690.KS,143850.KS,153130.KS,157450.KS,^KQ11
0,2012-05-16,True,2012,5,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,2012-05-17,True,2012,5,0.999593,1.000280,0.998489,1.001080,1.000298,1.000150,1.006710
2,2012-05-18,True,2012,5,0.967006,1.000841,0.978812,0.974470,1.000050,1.000250,0.958452
3,2012-05-21,True,2012,5,1.010320,0.999066,0.997294,1.001107,1.000149,1.000200,1.000468
4,2012-05-22,True,2012,5,1.017511,1.000841,1.016279,1.013638,1.000099,1.000150,1.027980
...,...,...,...,...,...,...,...,...,...,...,...
2863,2024-02-20,True,2024,2,0.988292,0.999831,0.997679,0.996879,1.000046,1.000000,1.008969
2864,2024-02-21,True,2024,2,0.997770,1.000169,0.989412,0.994901,1.000046,1.000141,0.997576
2865,2024-02-22,True,2024,2,1.005168,1.001943,1.009406,1.010161,1.000460,1.000236,1.006990
2866,2024-02-23,True,2024,2,1.003057,0.998820,1.015736,1.013886,0.999954,1.000094,0.998230
2867,2024-02-26,True,2024,2,0.991965,1.001688,0.995085,0.997191,1.000184,1.000094,0.998653

In [499]:
# df_KQ11 = df_KQ11['Adj Close'].pct_change().dropna()
# df_KS11 = df_KS11['Adj Close'].pct_change().dropna()
# df_DJI = df_DJI['Adj Close'].pct_change().dropna()
df_GSPC = df_GSPC['Adj Close'].pct_change().dropna()
df_IXIC = df_IXIC['Adj Close'].pct_change().dropna()

In [44]:
df_KQ11
df_KS11
df_DJI
df_GSPC
df_IXIC

Date
2015-10-02    0.017441
2015-10-05    0.015608
2015-10-06   -0.006881
2015-10-07    0.009012
2015-10-08    0.004099
                ...
2024-02-16   -0.008206
2024-02-20   -0.009183
2024-02-21   -0.003193
2024-02-22    0.029572
2024-02-23   -0.002793
Name: Adj Close, Length: 2112, dtype: float64

In [500]:
qs.reports.html(df_GSPC , output=r'c:\kannie\sp5002.html', title='sp5002')

qs.reports.html(df_IXIC , output=r'c:\kannie\nasdaq2.html', title='nasdaq2')

c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Monthly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1021: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  port["Quarterly"] = port["Daily"].resample("Q").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1022: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Quarterly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1024: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  port["Yearly"] = port["Daily"].resample("A").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1025: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Yearly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Monthly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1021: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  port["Quarterly"] = port["Daily"].resample("Q").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1022: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Quarterly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1024: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  port["Yearly"] = port["Daily"].resample("A").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1025: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Yearly"].ffill(inplace=True)

In [48]:

qs.reports.html(df_KS11 , output=r'c:\kannie\kospi.html', title='kospi')
qs.reports.html(df_DJI , output=r'c:\kannie\dji.html', title='dji')
qs.reports.html(df_GSPC , output=r'c:\kannie\sp500.html', title='sp500')
qs.reports.html(df_IXIC , output=r'c:\kannie\nasdaq.html', title='nasdaq')

c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Monthly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1021: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  port["Quarterly"] = port["Daily"].resample("Q").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1022: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Quarterly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1024: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  port["Yearly"] = port["Daily"].resample("A").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1025: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Yearly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Monthly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1021: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  port["Quarterly"] = port["Daily"].resample("Q").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1022: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Quarterly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1024: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  port["Yearly"] = port["Daily"].resample("A").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1025: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Yearly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Monthly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1021: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  port["Quarterly"] = port["Daily"].resample("Q").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1022: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Quarterly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1024: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  port["Yearly"] = port["Daily"].resample("A").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1025: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Yearly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\numpy\core\fromnumeric.py:86: FutureWarning: The behavior of DataFrame.prod with axis=None is deprecated, in a future version this will reduce over both axes and return a scalar. To retain the old behavior, pass axis=0 (or do not pass axis)
  return reduction(axis=axis, out=out, **passkwargs)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\stats.py:510: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns = _utils._prepare_returns(returns, rf).resample(resolution).sum()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:565: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").apply(_stats.comp)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\wrappers.py:568: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  returns = returns.resample("A").last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:440: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  returns.fillna(0).resample(resample).apply(apply_fnc).resample(resample).last()
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1016: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  port["Weekly"].ffill(inplace=True)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1018: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  port["Monthly"] = port["Daily"].resample("M").apply(apply_fnc)
c:\Users\kango\Desktop\cqralgo\cqrsite\v3121\Lib\site-packages\quantstats\_plotting\core.py:1019: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.
